https://pyquantnews.com/how-to-build-an-automated-quant-database/

Use SQLite to build a database
Download stock data for free
Store the data in a database
Run it all automatically

In [6]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\PyQuant\sp500 data\sp500_market_data.db")

# # simple select statement
# df_1 = pd.read_sql_query("SELECT * from stock_data where symbol='SPY'", con)

# # where statement
# df_2 = pd.read_sql_query("SELECT * from stock_data where symbol='SPY' and volume > 90000000", con)

In [7]:
pd.read_sql_query("SELECT * from stock_data", con)

,date,open,High,low,close,adj_close,volume,symbol
0,2021-01-04T00:00:00,375.309998,375.450012,364.820007,368.790009,354.197418,110210800,SPY
1,2021-01-05T00:00:00,368.100006,372.500000,368.049988,371.329987,356.636841,66426200,SPY
2,2021-01-06T00:00:00,369.709991,376.980011,369.119995,373.549988,358.769104,107997700,SPY
3,2021-01-07T00:00:00,376.100006,379.899994,375.910004,379.100006,364.099426,68766800,SPY
4,2021-01-08T00:00:00,380.589996,381.489990,377.100006,381.260010,366.173981,71677200,SPY
...,...,...,...,...,...,...,...,...
351564,2023-10-06T00:00:00,171.779999,175.929993,170.279999,175.580002,175.580002,1490600,ZTS
351565,2023-10-09T00:00:00,173.610001,175.399994,172.250000,174.600006,174.600006,1215100,ZTS
351566,2023-10-10T00:00:00,174.289993,176.789993,173.550003,175.630005,175.630005,1665300,ZTS
351567,2023-10-11T00:00:00,176.660004,177.330002,175.020004,176.949997,176.949997,1053600,ZTS
351568,2023-10-12T00:00:00,176.830002,177.550003,174.210007,174.309998,174.309998,1306300,ZTS