https://pyquantnews.com/how-to-build-an-automated-quant-database/

Use SQLite to build a database
Download stock data for free
Store the data in a database
Run it all automatically

# Read from test.db

In [8]:
import sqlite3
import pandas as pd

# connect to the database
test_con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\test\test.db")
# pd.read_sql_query("SELECT * FROM stock_data WHERE symbol = 'SPY'", con)
pd.read_sql_query("SELECT * FROM stock_data", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-02T00:00:00,SPY,426.619995,428.600006,424.459991,427.309998,427.309998,83798600
1,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
2,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000
3,2023-10-02T00:00:00,QQQ,358.540009,362.679993,357.920013,361.260010,361.260010,51625100
4,2023-10-03T00:00:00,QQQ,358.779999,361.010010,353.279999,354.920013,354.920013,60478500
5,2023-10-04T00:00:00,QQQ,355.769989,360.609985,355.299988,359.750000,359.750000,54786700
6,2023-10-02T00:00:00,IWM,176.330002,176.729996,173.149994,174.070007,174.070007,42139300
7,2023-10-03T00:00:00,IWM,172.949997,173.500000,170.369995,171.139999,171.139999,42733600
8,2023-10-04T00:00:00,IWM,171.009995,171.610001,169.089996,171.220001,171.220001,42491900
9,2023-10-05T00:00:00,QQQ,359.739990,360.149994,355.140015,358.690002,358.690002,45897400
10,2023-10-06T00:00:00,QQQ,355.649994,365.910004,354.850006,364.700012,364.700012,74959200
11,2023-10-05T00:00:00,SPY,424.359985,425.369995,421.170013,424.500000,424.500000,70142700
12,2023-10-06T00:00:00,SPY,421.970001,431.130005,420.600006,429.540009,429.540009,113202700
13,2023-10-05T00:00:00,IWM,170.800003,171.899994,169.940002,171.350006,171.350006,33365100
14,2023-10-06T00:00:00,IWM,170.369995,173.889999,169.509995,173.000000,173.000000,42144700
15,2023-10-09T00:00:00,SPY,427.579987,432.880005,427.010010,432.290009,432.290009,80374400
16,2023-10-10T00:00:00,SPY,432.940002,437.220001,432.529999,434.540009,434.540009,78607300
17,2023-10-11T00:00:00,SPY,435.640015,436.579987,433.179993,436.320007,436.320007,62451700
18,2023-10-12T00:00:00,SPY,436.950012,437.339996,431.230011,433.660004,433.660004,81154200
19,2023-10-13T00:00:00,SPY,435.209991,436.450012,429.880005,431.500000,431.500000,95143100
20,2023-10-16T00:00:00,SPY,433.820007,437.140015,433.570007,436.040009,436.040009,75433200
21,2023-10-17T00:00:00,SPY,432.809998,438.140015,432.450012,436.019989,436.019989,75324700
22,2023-10-18T00:00:00,SPY,434.190002,435.179993,429.089996,430.209991,430.209991,93559800
23,2023-10-19T00:00:00,SPY,430.950012,432.820007,425.730011,426.429993,426.429993,121179800
24,2023-10-09T00:00:00,QQQ,362.299988,367.109985,360.779999,366.559998,366.559998,45304800
25,2023-10-10T00:00:00,QQQ,366.899994,371.279999,366.390015,368.589996,368.589996,46968800
26,2023-10-11T00:00:00,QQQ,369.940002,371.410004,368.190002,371.220001,371.220001,38215100
27,2023-10-12T00:00:00,QQQ,371.730011,373.739990,367.500000,369.929993,369.929993,49587900
28,2023-10-13T00:00:00,QQQ,370.570007,371.160004,363.859985,365.279999,365.279999,52469900
29,2023-10-16T00:00:00,QQQ,366.619995,370.480011,366.470001,369.410004,369.410004,44201100
30,2023-10-17T00:00:00,QQQ,365.809998,369.920013,363.660004,368.200012,368.200012,50999100
31,2023-10-18T00:00:00,QQQ,365.670013,367.910004,362.019989,363.369995,363.369995,54280500
32,2023-10-19T00:00:00,QQQ,364.809998,366.019989,359.160004,359.970001,359.970001,72015100
33,2023-10-09T00:00:00,IWM,171.839996,174.550003,171.770004,174.000000,174.000000,26658400
34,2023-10-10T00:00:00,IWM,174.309998,177.039993,174.279999,175.970001,175.970001,31585000
35,2023-10-11T00:00:00,IWM,176.119995,177.229996,174.380005,175.669998,175.669998,27427200
36,2023-10-12T00:00:00,IWM,175.880005,175.880005,170.789993,171.699997,171.699997,38693800
37,2023-10-13T00:00:00,IWM,172.350006,172.699997,169.690002,170.270004,170.270004,33955600
38,2023-10-16T00:00:00,IWM,171.740005,173.389999,171.020004,173.020004,173.020004,31140300
39,2023-10-17T00:00:00,IWM,171.940002,176.419998,171.899994,174.949997,174.949997,39823200
40,2023-10-18T00:00:00,IWM,173.639999,173.660004,171.000000,171.350006,171.350006,38501400
41,2023-10-19T00:00:00,IWM,170.860001,172.149994,168.360001,168.619995,168.619995,51338600

In [9]:
pd.read_sql_query("SELECT * FROM stock_data WHERE symbol = 'SPY'", test_con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-02T00:00:00,SPY,426.619995,428.600006,424.459991,427.309998,427.309998,83798600
1,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
2,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000
3,2023-10-05T00:00:00,SPY,424.359985,425.369995,421.170013,424.500000,424.500000,70142700
4,2023-10-06T00:00:00,SPY,421.970001,431.130005,420.600006,429.540009,429.540009,113202700
5,2023-10-09T00:00:00,SPY,427.579987,432.880005,427.010010,432.290009,432.290009,80374400
6,2023-10-10T00:00:00,SPY,432.940002,437.220001,432.529999,434.540009,434.540009,78607300
7,2023-10-11T00:00:00,SPY,435.640015,436.579987,433.179993,436.320007,436.320007,62451700
8,2023-10-12T00:00:00,SPY,436.950012,437.339996,431.230011,433.660004,433.660004,81154200
9,2023-10-13T00:00:00,SPY,435.209991,436.450012,429.880005,431.500000,431.500000,95143100
10,2023-10-16T00:00:00,SPY,433.820007,437.140015,433.570007,436.040009,436.040009,75433200
11,2023-10-17T00:00:00,SPY,432.809998,438.140015,432.450012,436.019989,436.019989,75324700
12,2023-10-18T00:00:00,SPY,434.190002,435.179993,429.089996,430.209991,430.209991,93559800
13,2023-10-19T00:00:00,SPY,430.950012,432.820007,425.730011,426.429993,426.429993,121179800

In [2]:
#deletes duplicates, keep 1 copy
# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\test\test.db")

sql_query = """
DELETE FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, date
);
"""

con.execute(sql_query)

pd.read_sql_query("SELECT * from stock_data", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-02T00:00:00,SPY,426.619995,428.600006,424.459991,427.309998,427.309998,83798600
1,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
2,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000
3,2023-10-05T00:00:00,SPY,424.359985,425.369995,421.170013,424.500000,424.500000,70142700
4,2023-10-06T00:00:00,SPY,421.970001,431.130005,420.600006,429.540009,429.540009,113202700
5,2023-10-09T00:00:00,SPY,427.579987,432.880005,427.010010,432.290009,432.290009,80374400
6,2023-10-10T00:00:00,SPY,432.940002,437.220001,432.529999,434.540009,434.540009,78607300
7,2023-10-11T00:00:00,SPY,435.640015,436.579987,433.179993,436.320007,436.320007,62451700
8,2023-10-12T00:00:00,SPY,436.950012,437.339996,431.230011,433.660004,433.660004,81154200
9,2023-10-13T00:00:00,SPY,435.209991,436.450012,429.880005,431.500000,431.500000,95143100
10,2023-10-16T00:00:00,SPY,433.820007,437.140015,433.570007,436.040009,436.040009,75433200
11,2023-10-17T00:00:00,SPY,432.809998,438.140015,432.450012,436.019989,436.019989,75324700
12,2023-10-18T00:00:00,SPY,434.190002,435.179993,429.089996,430.209991,430.209991,93559800
13,2023-10-19T00:00:00,SPY,430.950012,432.820007,425.730011,426.429993,426.429993,121179800

In [13]:
#deletes all duplicates
sql_query = """
DELETE FROM stock_data
WHERE (symbol, Date)
IN (SELECT symbol, Date
    FROM stock_data
    GROUP BY symbol, Date
    HAVING COUNT(*) > 1
);
"""

con.execute(sql_query)

pd.read_sql_query("SELECT * from stock_data", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-02T00:00:00,SPY,426.619995,428.600006,424.459991,427.309998,427.309998,83798600
1,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
2,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000
3,2023-10-05T00:00:00,SPY,424.359985,425.369995,421.170013,424.500000,424.500000,70142700
4,2023-10-06T00:00:00,SPY,421.970001,431.130005,420.600006,429.540009,429.540009,113202700
5,2023-10-09T00:00:00,SPY,427.579987,432.880005,427.010010,432.290009,432.290009,80374400
6,2023-10-10T00:00:00,SPY,432.940002,437.220001,432.529999,434.540009,434.540009,78607300
7,2023-10-11T00:00:00,SPY,435.640015,436.579987,433.179993,436.320007,436.320007,62451700
8,2023-10-12T00:00:00,SPY,436.950012,437.339996,431.230011,433.660004,433.660004,81154200
9,2023-10-13T00:00:00,SPY,435.209991,436.450012,429.880005,431.500000,431.500000,95143100
10,2023-10-16T00:00:00,SPY,433.820007,437.140015,433.570007,436.040009,436.040009,75433200
11,2023-10-17T00:00:00,SPY,432.809998,438.140015,432.450012,436.019989,436.019989,75324700
12,2023-10-18T00:00:00,SPY,434.190002,435.179993,429.089996,430.209991,430.209991,93559800

# Show duplicates

In [12]:
# connect to the database
#con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_market_data.db")
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

pd.read_sql_query("""
SELECT * FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, Datetime
);
""",con)

Empty DataFrame
Columns: [Datetime, symbol, open, high, low, close, adj_close, volume]
Index: []

# Dropping Duplicates from SQL table

In [ ]:
import sqlite3
import pandas as pd

#deletes duplicates, keep 1 copy
# connect to the database
# con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\sp500_market_data.db")
# con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_market_data.db")
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

sql_query = """
DELETE FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, Datetime
);
"""

con.execute(sql_query)
con.commit()

pd.read_sql_query("SELECT * from stock_data", con)
# pd.read_sql_query("SELECT * FROM stock_data WHERE Date='2023-11-0T00:00:00'", con)

In [7]:
pd.read_sql_query("SELECT * FROM stock_data WHERE Date='2023-10-20T00:00:00'", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-20T00:00:00,SPY,425.980011,426.540009,421.079987,421.190002,421.190002,123845800
1,2023-10-20T00:00:00,ADM,74.040001,74.239998,72.830002,72.849998,72.849998,2457300
2,2023-10-20T00:00:00,QQQ,359.459991,360.040009,354.369995,354.600006,354.600006,72369800
3,2023-10-20T00:00:00,A,109.540001,110.589996,109.180000,109.230003,109.230003,2367300
4,2023-10-20T00:00:00,ADBE,555.739990,555.979980,535.950012,540.960022,540.960022,2728100
...,...,...,...,...,...,...,...,...
501,2023-10-20T00:00:00,YUM,120.010002,121.139999,119.650002,119.949997,119.949997,1568400
502,2023-10-20T00:00:00,ZBH,104.059998,105.620003,103.699997,104.559998,104.559998,1294000
503,2023-10-20T00:00:00,ZBRA,204.839996,205.149994,201.009995,204.550003,204.550003,860400
504,2023-10-20T00:00:00,ZION,32.000000,32.099998,29.620001,29.959999,29.959999,6613800
505,2023-10-20T00:00:00,ZTS,167.619995,168.259995,165.089996,167.089996,167.089996,1932000

# Create new table, copy over sorted by date, delete og, rename new table to og name

In [97]:
import sqlite3
import pandas as pd

# Connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

# Define the SQL query to create a new table with sorted data
create_sorted_table_query = """
CREATE TABLE sorted_stock_data AS
SELECT * FROM stock_data
ORDER BY date;
"""

# Execute the query to create the sorted table
con.execute(create_sorted_table_query)

# Commit the transaction
con.commit()

# Drop the original table
drop_original_table_query = """
DROP TABLE IF EXISTS stock_data;
"""

con.execute(drop_original_table_query)

# Rename the sorted table to the original table name
rename_table_query = """
ALTER TABLE sorted_stock_data
RENAME TO stock_data;
"""

con.execute(rename_table_query)

# Commit the transaction
con.commit()

# Close the database connection
con.close()
print("done")

done

# SQL Queries

In [96]:
# REORDER BY DATE
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

sql_query = """
SELECT * FROM stock_data
ORDER BY date;
"""
con.execute(sql_query)
con.commit()
pd.read_sql_query("SELECT * from stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-10-17T09:30:00-04:00,SPY,432.809998,433.170013,432.769989,433.149994,433.149994,2482799
1,2023-10-17T09:31:00-04:00,SPY,433.140015,433.269989,432.940002,433.230011,433.230011,341416
2,2023-10-17T09:32:00-04:00,SPY,433.220001,433.410004,433.109985,433.379913,433.379913,324862
3,2023-10-17T09:33:00-04:00,SPY,433.380005,433.399994,433.180908,433.190002,433.190002,319216
4,2023-10-17T09:34:00-04:00,SPY,433.184998,433.475006,433.140015,433.410004,433.410004,192259
...,...,...,...,...,...,...,...,...
3646195,2023-10-02T15:55:00-04:00,ZTS,172.369995,172.470001,172.360001,172.419998,172.419998,12782
3646196,2023-10-02T15:56:00-04:00,ZTS,172.479996,172.660004,172.479996,172.580002,172.580002,18157
3646197,2023-10-02T15:57:00-04:00,ZTS,172.570007,172.610001,172.500000,172.539993,172.539993,20057
3646198,2023-10-02T15:58:00-04:00,ZTS,172.535004,172.630005,172.500000,172.570007,172.570007,23017
3646199,2023-10-02T15:59:00-04:00,ZTS,172.554993,172.750000,172.541504,172.699997,172.699997,52674

In [14]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
pd.read_sql_query("SELECT * FROM stock_data", con)
# pd.read_sql_query("SELECT * FROM stock_data ORDER BY date", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
6246960,2023-11-03T15:55:00-04:00,ZBRA,214.229996,214.309998,214.190002,214.210007,214.210007,5587
6246961,2023-11-03T15:56:00-04:00,ZBRA,214.255005,214.410004,214.250000,214.330002,214.330002,8650
6246962,2023-11-03T15:57:00-04:00,ZBRA,214.279999,214.460007,214.270004,214.419998,214.419998,10312
6246963,2023-11-03T15:58:00-04:00,ZBRA,214.399994,214.479996,214.350006,214.350006,214.350006,5581
6246964,2023-11-03T15:59:00-04:00,ZBRA,214.369995,214.550003,214.210007,214.250000,214.250000,10329

In [37]:
# READ DATABASE MINUTE
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
pd.read_sql_query("SELECT * from stock_data", con)
# pd.read_sql_query("SELECT * FROM stock_data WHERE symbol ='SPY' AND date LIKE '2023-10-23%'", con)  #Entire db

,date,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
3646195,2023-10-23 15:59:00-04:00,ZBRA,204.910004,205.289993,204.910004,205.160004,205.160004,7985
3646196,2023-10-23 15:59:00-04:00,WY,28.830000,28.860001,28.830000,28.840000,28.840000,93030
3646197,2023-10-23 15:59:00-04:00,WEC,80.500000,80.559998,80.495003,80.529999,80.529999,57758
3646198,2023-10-23 15:59:00-04:00,WELL,82.930000,83.010002,82.910004,82.970001,82.970001,47302
3646199,2023-10-23 15:59:00-04:00,YUM,118.709999,118.800003,118.699997,118.760002,118.760002,57433

# SEE SCHEMA

In [49]:
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_market_data.db")
schema_query = "PRAGMA table_info(stock_data)"
schema = con.execute(schema_query).fetchall()
schema

[(0, 'Date', 'TIMESTAMP', 0, None, 0),
 (1, 'symbol', 'TEXT', 0, None, 0),
 (2, 'open', 'REAL', 0, None, 0),
 (3, 'high', 'REAL', 0, None, 0),
 (4, 'low', 'REAL', 0, None, 0),
 (5, 'close', 'REAL', 0, None, 0),
 (6, 'adj_close', 'REAL', 0, None, 0),
 (7, 'volume', 'INTEGER', 0, None, 0)]

In [36]:
# CHANGE date format was NUM > TIMESTAMP

con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

# Use ALTER TABLE to change the data type of the 'date' column to TIMESTAMP
con.execute("PRAGMA foreign_keys=off")

# Backup the existing table
con.execute("ALTER TABLE stock_data RENAME TO stock_data_old")

# Recreate the table with the new data type
con.execute("""
    CREATE TABLE stock_data (
        date TIMESTAMP,
        symbol TEXT,
        open REAL,
        high REAL,
        low REAL,
        close REAL,
        adj_close REAL,
        volume INT
    )
""")

# Copy data from the old table to the new table
con.execute("INSERT INTO stock_data SELECT * FROM stock_data_old")

# Drop the old table
con.execute("DROP TABLE stock_data_old")

# Commit the changes
con.commit()
print("done")

done

In [46]:
#Query between 2 dates
pd.read_sql_query("SELECT * FROM stock_data WHERE date BETWEEN '2023-10-17' AND '2023-10-24'", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-10-17T09:30:00-04:00,SPY,432.809998,433.170013,432.769989,433.149994,433.149994,2482799
1,2023-10-17T09:30:00-04:00,IWM,171.940002,172.830002,171.899994,172.789993,172.789993,1065176
2,2023-10-17T09:30:00-04:00,QQQ,365.598297,365.598297,365.598297,365.598297,365.598297,2251176
3,2023-10-17T09:30:00-04:00,A,110.099998,110.349998,109.820000,109.940002,109.940002,140632
4,2023-10-17T09:30:00-04:00,AAL,11.880000,11.950000,11.880000,11.935000,11.935000,398079
...,...,...,...,...,...,...,...,...
914891,2023-10-23T15:59:00-04:00,ZBRA,204.910004,205.289993,204.910004,205.160004,205.160004,7985
914892,2023-10-23T15:59:00-04:00,WY,28.830000,28.860001,28.830000,28.840000,28.840000,93030
914893,2023-10-23T15:59:00-04:00,WEC,80.500000,80.559998,80.495003,80.529999,80.529999,57758
914894,2023-10-23T15:59:00-04:00,WELL,82.930000,83.010002,82.910004,82.970001,82.970001,47302
914895,2023-10-23T15:59:00-04:00,YUM,118.709999,118.800003,118.699997,118.760002,118.760002,57433

In [79]:
%%timeit -n 1 -r 1
#ALL
pd.read_sql_query("SELECT * FROM stock_data", con)

6.33 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

# Timing

In [ ]:
%%timeit -n 1 -r 1
%run "C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_daily_dl_backfiller_Multiprocessing_POOL.py" 2021-01-01 2023-11-01

In [42]:
%%timeit -n 1 -r 1
%run "C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_daily_dl_backfiller.py" 2021-01-01 2023-11-01

Downloading data:   0%|▎                                                               | 2/506 [00:00<02:44,  3.07it/s]

SPY saved between 2021-01-01 and 2023-11-01

A saved between 2021-01-01 and 2023-11-01

Downloading data:   1%|▌                                                               | 4/506 [00:01<01:40,  5.01it/s]

AAL saved between 2021-01-01 and 2023-11-01

ADBE saved between 2021-01-01 and 2023-11-01

Downloading data:   1%|▊                                                               | 6/506 [00:01<01:20,  6.23it/s]

AAPL saved between 2021-01-01 and 2023-11-01

ABBV saved between 2021-01-01 and 2023-11-01

Downloading data:   2%|█                                                               | 8/506 [00:01<01:13,  6.79it/s]

ADP saved between 2021-01-01 and 2023-11-01

ADM saved between 2021-01-01 and 2023-11-01

Downloading data:   2%|█▏                                                             | 10/506 [00:01<01:11,  6.93it/s]

ACGL saved between 2021-01-01 and 2023-11-01

ACN saved between 2021-01-01 and 2023-11-01

Downloading data:   2%|█▍                                                             | 12/506 [00:02<01:12,  6.80it/s]

ABT saved between 2021-01-01 and 2023-11-01

QQQ saved between 2021-01-01 and 2023-11-01

Downloading data:   3%|█▋                                                             | 14/506 [00:02<01:11,  6.93it/s]

ADI saved between 2021-01-01 and 2023-11-01

IWM saved between 2021-01-01 and 2023-11-01

Downloading data:   3%|█▉                                                             | 16/506 [00:02<01:06,  7.42it/s]

ABNB saved between 2021-01-01 and 2023-11-01

ADSK saved between 2021-01-01 and 2023-11-01

Downloading data:   4%|██▏                                                            | 18/506 [00:03<01:17,  6.31it/s]

AEE saved between 2021-01-01 and 2023-11-01

AEP saved between 2021-01-01 and 2023-11-01

Downloading data:   4%|██▍                                                            | 20/506 [00:03<01:20,  6.03it/s]

AES saved between 2021-01-01 and 2023-11-01

AFL saved between 2021-01-01 and 2023-11-01

Downloading data:   4%|██▋                                                            | 22/506 [00:03<01:17,  6.23it/s]

AIG saved between 2021-01-01 and 2023-11-01

AIZ saved between 2021-01-01 and 2023-11-01

Downloading data:   5%|██▉                                                            | 24/506 [00:03<01:12,  6.63it/s]

AJG saved between 2021-01-01 and 2023-11-01

AKAM saved between 2021-01-01 and 2023-11-01

Downloading data:   5%|███▏                                                           | 26/506 [00:04<01:07,  7.07it/s]

ALB saved between 2021-01-01 and 2023-11-01

ALGN saved between 2021-01-01 and 2023-11-01

Downloading data:   6%|███▍                                                           | 28/506 [00:04<01:13,  6.48it/s]

ALK saved between 2021-01-01 and 2023-11-01

ALL saved between 2021-01-01 and 2023-11-01

Downloading data:   6%|███▋                                                           | 30/506 [00:04<01:11,  6.70it/s]

ALLE saved between 2021-01-01 and 2023-11-01

AMAT saved between 2021-01-01 and 2023-11-01

Downloading data:   6%|███▉                                                           | 32/506 [00:05<01:04,  7.39it/s]

AMCR saved between 2021-01-01 and 2023-11-01

AMD saved between 2021-01-01 and 2023-11-01

Downloading data:   7%|████▏                                                          | 34/506 [00:05<01:08,  6.86it/s]

AME saved between 2021-01-01 and 2023-11-01

AMGN saved between 2021-01-01 and 2023-11-01

Downloading data:   7%|████▎                                                          | 35/506 [00:05<01:10,  6.67it/s]

AMP saved between 2021-01-01 and 2023-11-01

Downloading data:   7%|████▌                                                          | 37/506 [00:05<01:20,  5.83it/s]

AMT saved between 2021-01-01 and 2023-11-01

AMZN saved between 2021-01-01 and 2023-11-01

Downloading data:   8%|████▊                                                          | 39/506 [00:06<01:10,  6.64it/s]

ANET saved between 2021-01-01 and 2023-11-01

ANSS saved between 2021-01-01 and 2023-11-01

Downloading data:   8%|█████                                                          | 41/506 [00:06<01:15,  6.14it/s]

AON saved between 2021-01-01 and 2023-11-01

AOS saved between 2021-01-01 and 2023-11-01

Downloading data:   8%|█████▎                                                         | 43/506 [00:06<01:13,  6.33it/s]

APA saved between 2021-01-01 and 2023-11-01

APD saved between 2021-01-01 and 2023-11-01

Downloading data:   9%|█████▌                                                         | 45/506 [00:07<01:06,  6.93it/s]

APH saved between 2021-01-01 and 2023-11-01

APTV saved between 2021-01-01 and 2023-11-01

Downloading data:   9%|█████▊                                                         | 47/506 [00:07<01:14,  6.18it/s]

ARE saved between 2021-01-01 and 2023-11-01

ATO saved between 2021-01-01 and 2023-11-01

1 Failed download:
['ATVI']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-10-21 -> 2023-11-01)')
Downloading data:  10%|██████                                                         | 49/506 [00:08<01:39,  4.59it/s]

ATVI saved between 2021-01-01 and 2023-11-01

AVB saved between 2021-01-01 and 2023-11-01

Downloading data:  10%|██████▏                                                        | 50/506 [00:08<01:29,  5.11it/s]

AVGO saved between 2021-01-01 and 2023-11-01

Downloading data:  10%|██████▍                                                        | 52/506 [00:08<01:34,  4.82it/s]

AVY saved between 2021-01-01 and 2023-11-01

AWK saved between 2021-01-01 and 2023-11-01

Downloading data:  11%|██████▋                                                        | 54/506 [00:09<01:22,  5.48it/s]

AXON saved between 2021-01-01 and 2023-11-01

AXP saved between 2021-01-01 and 2023-11-01

Downloading data:  11%|██████▊                                                        | 55/506 [00:09<01:14,  6.06it/s]

AZO saved between 2021-01-01 and 2023-11-01

Downloading data:  11%|███████                                                        | 57/506 [00:09<01:19,  5.68it/s]

BA saved between 2021-01-01 and 2023-11-01

BAC saved between 2021-01-01 and 2023-11-01

Downloading data:  12%|███████▎                                                       | 59/506 [00:09<01:19,  5.63it/s]

BALL saved between 2021-01-01 and 2023-11-01

BAX saved between 2021-01-01 and 2023-11-01

Downloading data:  12%|███████▌                                                       | 61/506 [00:10<01:18,  5.70it/s]

BBWI saved between 2021-01-01 and 2023-11-01

BBY saved between 2021-01-01 and 2023-11-01

Downloading data:  12%|███████▊                                                       | 63/506 [00:10<01:17,  5.75it/s]

BDX saved between 2021-01-01 and 2023-11-01

BEN saved between 2021-01-01 and 2023-11-01

Downloading data:  13%|████████                                                       | 65/506 [00:10<01:13,  5.98it/s]

BF-B saved between 2021-01-01 and 2023-11-01

BG saved between 2021-01-01 and 2023-11-01

Downloading data:  13%|████████▎                                                      | 67/506 [00:11<01:05,  6.74it/s]

BIIB saved between 2021-01-01 and 2023-11-01

BIO saved between 2021-01-01 and 2023-11-01

Downloading data:  14%|████████▌                                                      | 69/506 [00:11<01:06,  6.60it/s]

BK saved between 2021-01-01 and 2023-11-01

BKNG saved between 2021-01-01 and 2023-11-01

Downloading data:  14%|████████▊                                                      | 71/506 [00:11<01:06,  6.58it/s]

BKR saved between 2021-01-01 and 2023-11-01

BLK saved between 2021-01-01 and 2023-11-01

Downloading data:  14%|█████████                                                      | 73/506 [00:12<01:03,  6.87it/s]

BMY saved between 2021-01-01 and 2023-11-01

BR saved between 2021-01-01 and 2023-11-01

Downloading data:  15%|█████████▏                                                     | 74/506 [00:12<00:59,  7.23it/s]

BRK-B saved between 2021-01-01 and 2023-11-01

Downloading data:  15%|█████████▍                                                     | 76/506 [00:12<01:08,  6.26it/s]

BRO saved between 2021-01-01 and 2023-11-01

BSX saved between 2021-01-01 and 2023-11-01

Downloading data:  15%|█████████▋                                                     | 78/506 [00:12<01:08,  6.22it/s]

BWA saved between 2021-01-01 and 2023-11-01

BX saved between 2021-01-01 and 2023-11-01

Downloading data:  16%|█████████▊                                                     | 79/506 [00:13<01:12,  5.86it/s]

BXP saved between 2021-01-01 and 2023-11-01

Downloading data:  16%|██████████                                                     | 81/506 [00:13<01:13,  5.76it/s]

C saved between 2021-01-01 and 2023-11-01

CAG saved between 2021-01-01 and 2023-11-01

Downloading data:  16%|██████████▎                                                    | 83/506 [00:13<01:01,  6.88it/s]

CAH saved between 2021-01-01 and 2023-11-01

CARR saved between 2021-01-01 and 2023-11-01

Downloading data:  17%|██████████▌                                                    | 85/506 [00:14<01:00,  6.99it/s]

CAT saved between 2021-01-01 and 2023-11-01

CB saved between 2021-01-01 and 2023-11-01

Downloading data:  17%|██████████▊                                                    | 87/506 [00:14<00:59,  7.05it/s]

CBOE saved between 2021-01-01 and 2023-11-01

CBRE saved between 2021-01-01 and 2023-11-01

Downloading data:  18%|███████████                                                    | 89/506 [00:14<00:58,  7.15it/s]

CCI saved between 2021-01-01 and 2023-11-01

CCL saved between 2021-01-01 and 2023-11-01

Downloading data:  18%|███████████▎                                                   | 91/506 [00:14<00:57,  7.17it/s]

CDAY saved between 2021-01-01 and 2023-11-01

CDNS saved between 2021-01-01 and 2023-11-01

Downloading data:  18%|███████████▌                                                   | 93/506 [00:15<00:57,  7.13it/s]

CDW saved between 2021-01-01 and 2023-11-01

CE saved between 2021-01-01 and 2023-11-01

Downloading data:  19%|███████████▊                                                   | 95/506 [00:15<00:57,  7.11it/s]

CEG saved between 2021-01-01 and 2023-11-01

CF saved between 2021-01-01 and 2023-11-01

Downloading data:  19%|████████████                                                   | 97/506 [00:15<00:56,  7.22it/s]

CFG saved between 2021-01-01 and 2023-11-01

CHD saved between 2021-01-01 and 2023-11-01

Downloading data:  20%|████████████▎                                                  | 99/506 [00:16<01:06,  6.16it/s]

CHRW saved between 2021-01-01 and 2023-11-01

CHTR saved between 2021-01-01 and 2023-11-01

Downloading data:  20%|████████████▍                                                 | 101/506 [00:16<01:04,  6.27it/s]

CI saved between 2021-01-01 and 2023-11-01

CINF saved between 2021-01-01 and 2023-11-01

Downloading data:  20%|████████████▌                                                 | 103/506 [00:16<01:07,  5.97it/s]

CL saved between 2021-01-01 and 2023-11-01

CLX saved between 2021-01-01 and 2023-11-01

Downloading data:  21%|████████████▊                                                 | 105/506 [00:17<01:06,  6.02it/s]

CMA saved between 2021-01-01 and 2023-11-01

CMCSA saved between 2021-01-01 and 2023-11-01

Downloading data:  21%|█████████████                                                 | 107/506 [00:17<00:59,  6.75it/s]

CME saved between 2021-01-01 and 2023-11-01

CMG saved between 2021-01-01 and 2023-11-01

Downloading data:  22%|█████████████▎                                                | 109/506 [00:17<00:59,  6.67it/s]

CMI saved between 2021-01-01 and 2023-11-01

CMS saved between 2021-01-01 and 2023-11-01

Downloading data:  22%|█████████████▍                                                | 110/506 [00:17<00:54,  7.27it/s]

CNC saved between 2021-01-01 and 2023-11-01

Downloading data:  22%|█████████████▌                                                | 111/506 [00:17<01:01,  6.40it/s]

CNP saved between 2021-01-01 and 2023-11-01

Downloading data:  22%|█████████████▊                                                | 113/506 [00:18<01:05,  6.03it/s]

COF saved between 2021-01-01 and 2023-11-01

COO saved between 2021-01-01 and 2023-11-01

Downloading data:  23%|██████████████                                                | 115/506 [00:18<01:03,  6.15it/s]

COP saved between 2021-01-01 and 2023-11-01

COR saved between 2021-01-01 and 2023-11-01

Downloading data:  23%|██████████████▎                                               | 117/506 [00:18<01:04,  6.05it/s]

COST saved between 2021-01-01 and 2023-11-01

CPB saved between 2021-01-01 and 2023-11-01

Downloading data:  24%|██████████████▌                                               | 119/506 [00:19<01:05,  5.92it/s]

CPRT saved between 2021-01-01 and 2023-11-01

CPT saved between 2021-01-01 and 2023-11-01

Downloading data:  24%|██████████████▋                                               | 120/506 [00:19<00:57,  6.71it/s]

CRL saved between 2021-01-01 and 2023-11-01

CRM saved between 2021-01-01 and 2023-11-01

Downloading data:  24%|███████████████                                               | 123/506 [00:19<00:49,  7.80it/s]

CSCO saved between 2021-01-01 and 2023-11-01

CSGP saved between 2021-01-01 and 2023-11-01

Downloading data:  25%|███████████████▎                                              | 125/506 [00:20<00:54,  6.97it/s]

CSX saved between 2021-01-01 and 2023-11-01

CTAS saved between 2021-01-01 and 2023-11-01

Downloading data:  25%|███████████████▌                                              | 127/506 [00:20<00:51,  7.42it/s]

CTLT saved between 2021-01-01 and 2023-11-01

CTRA saved between 2021-01-01 and 2023-11-01

Downloading data:  25%|███████████████▊                                              | 129/506 [00:20<00:48,  7.72it/s]

CTSH saved between 2021-01-01 and 2023-11-01

CTVA saved between 2021-01-01 and 2023-11-01

Downloading data:  26%|███████████████▉                                              | 130/506 [00:20<00:54,  6.85it/s]

CVS saved between 2021-01-01 and 2023-11-01

Downloading data:  26%|████████████████                                              | 131/506 [00:20<01:02,  6.00it/s]

CVX saved between 2021-01-01 and 2023-11-01

CZR saved between 2021-01-01 and 2023-11-01

Downloading data:  26%|████████████████▍                                             | 134/506 [00:21<00:59,  6.25it/s]

D saved between 2021-01-01 and 2023-11-01

DAL saved between 2021-01-01 and 2023-11-01

Downloading data:  27%|████████████████▌                                             | 135/506 [00:21<01:00,  6.15it/s]

DD saved between 2021-01-01 and 2023-11-01

Downloading data:  27%|████████████████▊                                             | 137/506 [00:22<01:07,  5.44it/s]

DE saved between 2021-01-01 and 2023-11-01

DFS saved between 2021-01-01 and 2023-11-01

Downloading data:  27%|█████████████████                                             | 139/506 [00:22<01:00,  6.08it/s]

DG saved between 2021-01-01 and 2023-11-01

DGX saved between 2021-01-01 and 2023-11-01

Downloading data:  28%|█████████████████▎                                            | 141/506 [00:22<00:59,  6.14it/s]

DHI saved between 2021-01-01 and 2023-11-01

DHR saved between 2021-01-01 and 2023-11-01

Downloading data:  28%|█████████████████▌                                            | 143/506 [00:22<00:58,  6.24it/s]

DIS saved between 2021-01-01 and 2023-11-01

DLR saved between 2021-01-01 and 2023-11-01

Downloading data:  28%|█████████████████▋                                            | 144/506 [00:23<00:52,  6.96it/s]

DLTR saved between 2021-01-01 and 2023-11-01

Downloading data:  29%|█████████████████▉                                            | 146/506 [00:23<00:53,  6.74it/s]

DOV saved between 2021-01-01 and 2023-11-01

DOW saved between 2021-01-01 and 2023-11-01

Downloading data:  29%|██████████████████▏                                           | 148/506 [00:23<00:49,  7.27it/s]

DPZ saved between 2021-01-01 and 2023-11-01

DRI saved between 2021-01-01 and 2023-11-01

Downloading data:  30%|██████████████████▍                                           | 150/506 [00:24<01:00,  5.84it/s]

DTE saved between 2021-01-01 and 2023-11-01

DUK saved between 2021-01-01 and 2023-11-01

Downloading data:  30%|██████████████████▌                                           | 151/506 [00:24<00:57,  6.21it/s]

DVA saved between 2021-01-01 and 2023-11-01

Downloading data:  30%|██████████████████▋                                           | 153/506 [00:24<00:56,  6.29it/s]

DVN saved between 2021-01-01 and 2023-11-01

DXCM saved between 2021-01-01 and 2023-11-01

Downloading data:  31%|██████████████████▉                                           | 155/506 [00:24<00:52,  6.69it/s]

EA saved between 2021-01-01 and 2023-11-01

EBAY saved between 2021-01-01 and 2023-11-01

Downloading data:  31%|███████████████████▏                                          | 157/506 [00:26<02:16,  2.55it/s]

ECL saved between 2021-01-01 and 2023-11-01

ED saved between 2021-01-01 and 2023-11-01

Downloading data:  31%|███████████████████▍                                          | 159/506 [00:26<01:33,  3.73it/s]

EFX saved between 2021-01-01 and 2023-11-01

EG saved between 2021-01-01 and 2023-11-01

Downloading data:  32%|███████████████████▋                                          | 161/506 [00:26<01:16,  4.50it/s]

EIX saved between 2021-01-01 and 2023-11-01

EL saved between 2021-01-01 and 2023-11-01

Downloading data:  32%|███████████████████▉                                          | 163/506 [00:27<00:59,  5.77it/s]

ELV saved between 2021-01-01 and 2023-11-01

EMN saved between 2021-01-01 and 2023-11-01

Downloading data:  33%|████████████████████▏                                         | 165/506 [00:27<00:55,  6.15it/s]

EMR saved between 2021-01-01 and 2023-11-01

ENPH saved between 2021-01-01 and 2023-11-01

Downloading data:  33%|████████████████████▍                                         | 167/506 [00:27<00:51,  6.63it/s]

EOG saved between 2021-01-01 and 2023-11-01

EPAM saved between 2021-01-01 and 2023-11-01

Downloading data:  33%|████████████████████▋                                         | 169/506 [00:28<00:48,  6.97it/s]

EQIX saved between 2021-01-01 and 2023-11-01

EQR saved between 2021-01-01 and 2023-11-01

Downloading data:  34%|████████████████████▉                                         | 171/506 [00:28<00:52,  6.39it/s]

EQT saved between 2021-01-01 and 2023-11-01

ES saved between 2021-01-01 and 2023-11-01

Downloading data:  34%|█████████████████████▏                                        | 173/506 [00:28<00:51,  6.49it/s]

ESS saved between 2021-01-01 and 2023-11-01

ETN saved between 2021-01-01 and 2023-11-01

Downloading data:  35%|█████████████████████▍                                        | 175/506 [00:28<00:49,  6.68it/s]

ETR saved between 2021-01-01 and 2023-11-01

ETSY saved between 2021-01-01 and 2023-11-01

Downloading data:  35%|█████████████████████▋                                        | 177/506 [00:29<00:44,  7.33it/s]

EVRG saved between 2021-01-01 and 2023-11-01

EW saved between 2021-01-01 and 2023-11-01

Downloading data:  35%|█████████████████████▉                                        | 179/506 [00:29<00:44,  7.43it/s]

EXC saved between 2021-01-01 and 2023-11-01

EXPD saved between 2021-01-01 and 2023-11-01

Downloading data:  36%|██████████████████████▏                                       | 181/506 [00:29<00:44,  7.34it/s]

EXPE saved between 2021-01-01 and 2023-11-01

EXR saved between 2021-01-01 and 2023-11-01

Downloading data:  36%|██████████████████████▍                                       | 183/506 [00:30<00:53,  5.99it/s]

F saved between 2021-01-01 and 2023-11-01

FANG saved between 2021-01-01 and 2023-11-01

Downloading data:  36%|██████████████████████▌                                       | 184/506 [00:30<00:51,  6.28it/s]

FAST saved between 2021-01-01 and 2023-11-01

Downloading data:  37%|██████████████████████▊                                       | 186/506 [00:30<00:55,  5.75it/s]

FCX saved between 2021-01-01 and 2023-11-01

FDS saved between 2021-01-01 and 2023-11-01

Downloading data:  37%|███████████████████████                                       | 188/506 [00:31<00:50,  6.27it/s]

FDX saved between 2021-01-01 and 2023-11-01

FE saved between 2021-01-01 and 2023-11-01

Downloading data:  38%|███████████████████████▎                                      | 190/506 [00:31<00:46,  6.78it/s]

FFIV saved between 2021-01-01 and 2023-11-01

FI saved between 2021-01-01 and 2023-11-01

Downloading data:  38%|███████████████████████▌                                      | 192/506 [00:31<00:47,  6.63it/s]

FICO saved between 2021-01-01 and 2023-11-01

FIS saved between 2021-01-01 and 2023-11-01

Downloading data:  38%|███████████████████████▊                                      | 194/506 [00:31<00:47,  6.54it/s]

FITB saved between 2021-01-01 and 2023-11-01

FLT saved between 2021-01-01 and 2023-11-01

Downloading data:  39%|████████████████████████                                      | 196/506 [00:32<00:42,  7.32it/s]

FMC saved between 2021-01-01 and 2023-11-01

FOX saved between 2021-01-01 and 2023-11-01

Downloading data:  39%|████████████████████████▎                                     | 198/506 [00:32<00:46,  6.55it/s]

FOXA saved between 2021-01-01 and 2023-11-01

FRT saved between 2021-01-01 and 2023-11-01

Downloading data:  40%|████████████████████████▌                                     | 200/506 [00:32<00:41,  7.40it/s]

FSLR saved between 2021-01-01 and 2023-11-01

FTNT saved between 2021-01-01 and 2023-11-01

Downloading data:  40%|████████████████████████▊                                     | 202/506 [00:33<00:47,  6.43it/s]

FTV saved between 2021-01-01 and 2023-11-01

GD saved between 2021-01-01 and 2023-11-01

Downloading data:  41%|█████████████████████████                                     | 205/506 [00:33<00:38,  7.75it/s]

GE saved between 2021-01-01 and 2023-11-01

GEHC saved between 2021-01-01 and 2023-11-01

GEN saved between 2021-01-01 and 2023-11-01

Downloading data:  41%|█████████████████████████▎                                    | 207/506 [00:33<00:42,  6.97it/s]

GILD saved between 2021-01-01 and 2023-11-01

GIS saved between 2021-01-01 and 2023-11-01

Downloading data:  41%|█████████████████████████▍                                    | 208/506 [00:33<00:46,  6.46it/s]

GL saved between 2021-01-01 and 2023-11-01

Downloading data:  42%|█████████████████████████▋                                    | 210/506 [00:34<00:45,  6.56it/s]

GLW saved between 2021-01-01 and 2023-11-01

GM saved between 2021-01-01 and 2023-11-01

Downloading data:  42%|█████████████████████████▉                                    | 212/506 [00:34<00:42,  6.85it/s]

GNRC saved between 2021-01-01 and 2023-11-01

GOOG saved between 2021-01-01 and 2023-11-01

Downloading data:  42%|██████████████████████████▏                                   | 214/506 [00:34<00:45,  6.36it/s]

GOOGL saved between 2021-01-01 and 2023-11-01

GPC saved between 2021-01-01 and 2023-11-01

Downloading data:  43%|██████████████████████████▍                                   | 216/506 [00:35<00:43,  6.61it/s]

GPN saved between 2021-01-01 and 2023-11-01

GRMN saved between 2021-01-01 and 2023-11-01

Downloading data:  43%|██████████████████████████▋                                   | 218/506 [00:35<00:43,  6.64it/s]

GS saved between 2021-01-01 and 2023-11-01

GWW saved between 2021-01-01 and 2023-11-01

Downloading data:  43%|██████████████████████████▉                                   | 220/506 [00:35<00:43,  6.57it/s]

HAL saved between 2021-01-01 and 2023-11-01

HAS saved between 2021-01-01 and 2023-11-01

Downloading data:  44%|███████████████████████████▏                                  | 222/506 [00:36<00:44,  6.45it/s]

HBAN saved between 2021-01-01 and 2023-11-01

HCA saved between 2021-01-01 and 2023-11-01

Downloading data:  44%|███████████████████████████▎                                  | 223/506 [00:36<00:43,  6.46it/s]

HD saved between 2021-01-01 and 2023-11-01

Downloading data:  44%|███████████████████████████▌                                  | 225/506 [00:36<00:47,  5.94it/s]

HES saved between 2021-01-01 and 2023-11-01

HIG saved between 2021-01-01 and 2023-11-01

Downloading data:  45%|███████████████████████████▊                                  | 227/506 [00:36<00:42,  6.63it/s]

HII saved between 2021-01-01 and 2023-11-01

HLT saved between 2021-01-01 and 2023-11-01

Downloading data:  45%|███████████████████████████▉                                  | 228/506 [00:37<00:39,  7.04it/s]

HOLX saved between 2021-01-01 and 2023-11-01

Downloading data:  45%|████████████████████████████▏                                 | 230/506 [00:37<00:46,  5.94it/s]

HON saved between 2021-01-01 and 2023-11-01

HPE saved between 2021-01-01 and 2023-11-01

Downloading data:  46%|████████████████████████████▎                                 | 231/506 [00:37<00:51,  5.36it/s]

HPQ saved between 2021-01-01 and 2023-11-01

Downloading data:  46%|████████████████████████████▌                                 | 233/506 [00:37<00:46,  5.86it/s]

HRL saved between 2021-01-01 and 2023-11-01

HSIC saved between 2021-01-01 and 2023-11-01

Downloading data:  46%|████████████████████████████▊                                 | 235/506 [00:38<00:46,  5.79it/s]

HST saved between 2021-01-01 and 2023-11-01

HSY saved between 2021-01-01 and 2023-11-01

Downloading data:  47%|█████████████████████████████                                 | 237/506 [00:38<00:39,  6.77it/s]

HUM saved between 2021-01-01 and 2023-11-01

HWM saved between 2021-01-01 and 2023-11-01

Downloading data:  47%|█████████████████████████████▎                                | 239/506 [00:38<00:41,  6.41it/s]

IBM saved between 2021-01-01 and 2023-11-01

ICE saved between 2021-01-01 and 2023-11-01

Downloading data:  48%|█████████████████████████████▌                                | 241/506 [00:39<00:41,  6.33it/s]

IDXX saved between 2021-01-01 and 2023-11-01

IEX saved between 2021-01-01 and 2023-11-01

Downloading data:  48%|█████████████████████████████▊                                | 243/506 [00:39<00:38,  6.75it/s]

IFF saved between 2021-01-01 and 2023-11-01

ILMN saved between 2021-01-01 and 2023-11-01

Downloading data:  48%|██████████████████████████████                                | 245/506 [00:39<00:37,  7.01it/s]

INCY saved between 2021-01-01 and 2023-11-01

INTC saved between 2021-01-01 and 2023-11-01

Downloading data:  49%|██████████████████████████████▎                               | 247/506 [00:40<00:34,  7.53it/s]

INTU saved between 2021-01-01 and 2023-11-01

INVH saved between 2021-01-01 and 2023-11-01

Downloading data:  49%|██████████████████████████████▌                               | 249/506 [00:40<00:43,  5.90it/s]

IP saved between 2021-01-01 and 2023-11-01

IPG saved between 2021-01-01 and 2023-11-01

Downloading data:  50%|██████████████████████████████▊                               | 251/506 [00:40<00:36,  6.92it/s]

IQV saved between 2021-01-01 and 2023-11-01

IR saved between 2021-01-01 and 2023-11-01

Downloading data:  50%|███████████████████████████████                               | 253/506 [00:40<00:33,  7.65it/s]

IRM saved between 2021-01-01 and 2023-11-01

ISRG saved between 2021-01-01 and 2023-11-01

Downloading data:  50%|███████████████████████████████▏                              | 255/506 [00:41<00:33,  7.45it/s]

IT saved between 2021-01-01 and 2023-11-01

ITW saved between 2021-01-01 and 2023-11-01

Downloading data:  51%|███████████████████████████████▍                              | 257/506 [00:41<00:35,  7.11it/s]

IVZ saved between 2021-01-01 and 2023-11-01

J saved between 2021-01-01 and 2023-11-01

Downloading data:  51%|███████████████████████████████▋                              | 259/506 [00:41<00:36,  6.79it/s]

JBHT saved between 2021-01-01 and 2023-11-01

JCI saved between 2021-01-01 and 2023-11-01

Downloading data:  51%|███████████████████████████████▊                              | 260/506 [00:41<00:37,  6.63it/s]

JKHY saved between 2021-01-01 and 2023-11-01

Downloading data:  52%|████████████████████████████████                              | 262/506 [00:42<00:38,  6.26it/s]

JNJ saved between 2021-01-01 and 2023-11-01

JNPR saved between 2021-01-01 and 2023-11-01

Downloading data:  52%|████████████████████████████████▏                             | 263/506 [00:42<00:43,  5.62it/s]

JPM saved between 2021-01-01 and 2023-11-01

Downloading data:  52%|████████████████████████████████▍                             | 265/506 [00:42<00:39,  6.05it/s]

K saved between 2021-01-01 and 2023-11-01

KDP saved between 2021-01-01 and 2023-11-01

Downloading data:  53%|████████████████████████████████▋                             | 267/506 [00:43<00:36,  6.53it/s]

KEY saved between 2021-01-01 and 2023-11-01

KEYS saved between 2021-01-01 and 2023-11-01

Downloading data:  53%|████████████████████████████████▉                             | 269/506 [00:43<00:32,  7.23it/s]

KHC saved between 2021-01-01 and 2023-11-01

KIM saved between 2021-01-01 and 2023-11-01

Downloading data:  53%|█████████████████████████████████                             | 270/506 [00:43<00:33,  6.99it/s]

KLAC saved between 2021-01-01 and 2023-11-01

Downloading data:  54%|█████████████████████████████████▎                            | 272/506 [00:43<00:34,  6.73it/s]

KMB saved between 2021-01-01 and 2023-11-01

KMI saved between 2021-01-01 and 2023-11-01

Downloading data:  54%|█████████████████████████████████▍                            | 273/506 [00:44<00:32,  7.10it/s]

KMX saved between 2021-01-01 and 2023-11-01

Downloading data:  54%|█████████████████████████████████▋                            | 275/506 [00:44<00:40,  5.71it/s]

KO saved between 2021-01-01 and 2023-11-01

KR saved between 2021-01-01 and 2023-11-01

Downloading data:  55%|█████████████████████████████████▉                            | 277/506 [00:44<00:34,  6.72it/s]

KVUE saved between 2021-01-01 and 2023-11-01

L saved between 2021-01-01 and 2023-11-01

Downloading data:  55%|██████████████████████████████████▏                           | 279/506 [00:45<00:36,  6.19it/s]

LDOS saved between 2021-01-01 and 2023-11-01

LEN saved between 2021-01-01 and 2023-11-01

Downloading data:  56%|██████████████████████████████████▍                           | 281/506 [00:45<00:34,  6.52it/s]

LH saved between 2021-01-01 and 2023-11-01

LHX saved between 2021-01-01 and 2023-11-01

Downloading data:  56%|██████████████████████████████████▋                           | 283/506 [00:45<00:31,  7.10it/s]

LIN saved between 2021-01-01 and 2023-11-01

LKQ saved between 2021-01-01 and 2023-11-01

Downloading data:  56%|██████████████████████████████████▊                           | 284/506 [00:45<00:33,  6.54it/s]

LLY saved between 2021-01-01 and 2023-11-01

Downloading data:  57%|███████████████████████████████████                           | 286/506 [00:46<00:35,  6.14it/s]

LMT saved between 2021-01-01 and 2023-11-01

LNT saved between 2021-01-01 and 2023-11-01

Downloading data:  57%|███████████████████████████████████▎                          | 288/506 [00:46<00:31,  6.89it/s]

LOW saved between 2021-01-01 and 2023-11-01

LRCX saved between 2021-01-01 and 2023-11-01

Downloading data:  57%|███████████████████████████████████▍                          | 289/506 [00:46<00:34,  6.37it/s]

LUV saved between 2021-01-01 and 2023-11-01

Downloading data:  58%|███████████████████████████████████▋                          | 291/506 [00:46<00:34,  6.28it/s]

LVS saved between 2021-01-01 and 2023-11-01

LW saved between 2021-01-01 and 2023-11-01

Downloading data:  58%|███████████████████████████████████▊                          | 292/506 [00:47<00:30,  7.00it/s]

LYB saved between 2021-01-01 and 2023-11-01

LYV saved between 2021-01-01 and 2023-11-01

Downloading data:  58%|████████████████████████████████████                          | 294/506 [00:47<00:26,  7.87it/s]

MA saved between 2021-01-01 and 2023-11-01

Downloading data:  58%|████████████████████████████████████▏                         | 295/506 [00:47<00:31,  6.70it/s]

MAA saved between 2021-01-01 and 2023-11-01

MAR saved between 2021-01-01 and 2023-11-01

Downloading data:  59%|████████████████████████████████████▍                         | 297/506 [00:47<00:31,  6.56it/s]

MAS saved between 2021-01-01 and 2023-11-01

Downloading data:  59%|████████████████████████████████████▊                         | 300/506 [00:48<00:28,  7.24it/s]

MCD saved between 2021-01-01 and 2023-11-01

MCHP saved between 2021-01-01 and 2023-11-01

MCK saved between 2021-01-01 and 2023-11-01

Downloading data:  60%|█████████████████████████████████████                         | 302/506 [00:48<00:27,  7.37it/s]

MCO saved between 2021-01-01 and 2023-11-01

MDLZ saved between 2021-01-01 and 2023-11-01

Downloading data:  60%|█████████████████████████████████████▏                        | 304/506 [00:48<00:27,  7.43it/s]

MDT saved between 2021-01-01 and 2023-11-01

MET saved between 2021-01-01 and 2023-11-01

Downloading data:  60%|█████████████████████████████████████▍                        | 306/506 [00:49<00:29,  6.87it/s]

META saved between 2021-01-01 and 2023-11-01

MGM saved between 2021-01-01 and 2023-11-01

Downloading data:  61%|█████████████████████████████████████▋                        | 308/506 [00:49<00:36,  5.37it/s]

MHK saved between 2021-01-01 and 2023-11-01

MKC saved between 2021-01-01 and 2023-11-01

Downloading data:  61%|█████████████████████████████████████▉                        | 310/506 [00:49<00:32,  6.04it/s]

MKTX saved between 2021-01-01 and 2023-11-01

MLM saved between 2021-01-01 and 2023-11-01

Downloading data:  62%|██████████████████████████████████████▏                       | 312/506 [00:50<00:30,  6.28it/s]

MMM saved between 2021-01-01 and 2023-11-01

MNST saved between 2021-01-01 and 2023-11-01

Downloading data:  62%|██████████████████████████████████████▍                       | 314/506 [00:50<00:29,  6.48it/s]

MO saved between 2021-01-01 and 2023-11-01

MOH saved between 2021-01-01 and 2023-11-01

Downloading data:  62%|██████████████████████████████████████▋                       | 316/506 [00:50<00:25,  7.37it/s]

MOS saved between 2021-01-01 and 2023-11-01

MPC saved between 2021-01-01 and 2023-11-01

Downloading data:  63%|██████████████████████████████████████▊                       | 317/506 [00:50<00:26,  7.06it/s]

MPWR saved between 2021-01-01 and 2023-11-01

Downloading data:  63%|███████████████████████████████████████                       | 319/506 [00:51<00:29,  6.37it/s]

MRK saved between 2021-01-01 and 2023-11-01

MRNA saved between 2021-01-01 and 2023-11-01

Downloading data:  63%|███████████████████████████████████████▎                      | 321/506 [00:51<00:31,  5.96it/s]

MRO saved between 2021-01-01 and 2023-11-01

MS saved between 2021-01-01 and 2023-11-01

Downloading data:  64%|███████████████████████████████████████▌                      | 323/506 [00:51<00:26,  6.85it/s]

MSCI saved between 2021-01-01 and 2023-11-01

MSFT saved between 2021-01-01 and 2023-11-01

Downloading data:  64%|███████████████████████████████████████▊                      | 325/506 [00:52<00:28,  6.33it/s]

MSI saved between 2021-01-01 and 2023-11-01

MTB saved between 2021-01-01 and 2023-11-01

Downloading data:  65%|████████████████████████████████████████                      | 327/506 [00:52<00:25,  6.94it/s]

MTCH saved between 2021-01-01 and 2023-11-01

MTD saved between 2021-01-01 and 2023-11-01

Downloading data:  65%|████████████████████████████████████████▎                     | 329/506 [00:52<00:23,  7.60it/s]

MU saved between 2021-01-01 and 2023-11-01

NCLH saved between 2021-01-01 and 2023-11-01

Downloading data:  65%|████████████████████████████████████████▌                     | 331/506 [00:53<00:26,  6.68it/s]

NDAQ saved between 2021-01-01 and 2023-11-01

NDSN saved between 2021-01-01 and 2023-11-01

Downloading data:  66%|████████████████████████████████████████▊                     | 333/506 [00:53<00:28,  6.07it/s]

NEE saved between 2021-01-01 and 2023-11-01

NEM saved between 2021-01-01 and 2023-11-01

Downloading data:  66%|████████████████████████████████████████▉                     | 334/506 [00:53<00:25,  6.68it/s]

NFLX saved between 2021-01-01 and 2023-11-01

Downloading data:  66%|█████████████████████████████████████████▏                    | 336/506 [00:53<00:28,  6.06it/s]

NI saved between 2021-01-01 and 2023-11-01

NKE saved between 2021-01-01 and 2023-11-01

Downloading data:  67%|█████████████████████████████████████████▍                    | 338/506 [00:54<00:27,  6.08it/s]

NOC saved between 2021-01-01 and 2023-11-01

NOW saved between 2021-01-01 and 2023-11-01

Downloading data:  67%|█████████████████████████████████████████▋                    | 340/506 [00:54<00:25,  6.47it/s]

NRG saved between 2021-01-01 and 2023-11-01

NSC saved between 2021-01-01 and 2023-11-01

Downloading data:  68%|█████████████████████████████████████████▉                    | 342/506 [00:54<00:24,  6.76it/s]

NTAP saved between 2021-01-01 and 2023-11-01

NTRS saved between 2021-01-01 and 2023-11-01

Downloading data:  68%|██████████████████████████████████████████▏                   | 344/506 [00:55<00:26,  6.18it/s]

NUE saved between 2021-01-01 and 2023-11-01

NVDA saved between 2021-01-01 and 2023-11-01

Downloading data:  68%|██████████████████████████████████████████▍                   | 346/506 [00:55<00:23,  6.83it/s]

NVR saved between 2021-01-01 and 2023-11-01

NWS saved between 2021-01-01 and 2023-11-01

Downloading data:  69%|██████████████████████████████████████████▋                   | 348/506 [00:55<00:20,  7.62it/s]

NWSA saved between 2021-01-01 and 2023-11-01

NXPI saved between 2021-01-01 and 2023-11-01

Downloading data:  69%|██████████████████████████████████████████▉                   | 350/506 [00:55<00:20,  7.69it/s]

O saved between 2021-01-01 and 2023-11-01

ODFL saved between 2021-01-01 and 2023-11-01

Downloading data:  70%|███████████████████████████████████████████▏                  | 352/506 [00:56<00:20,  7.39it/s]

OGN saved between 2021-01-01 and 2023-11-01

OKE saved between 2021-01-01 and 2023-11-01

Downloading data:  70%|███████████████████████████████████████████▍                  | 354/506 [00:56<00:21,  6.98it/s]

OMC saved between 2021-01-01 and 2023-11-01

ON saved between 2021-01-01 and 2023-11-01

Downloading data:  70%|███████████████████████████████████████████▌                  | 356/506 [00:56<00:25,  6.00it/s]

ORCL saved between 2021-01-01 and 2023-11-01

ORLY saved between 2021-01-01 and 2023-11-01

Downloading data:  71%|███████████████████████████████████████████▊                  | 358/506 [00:57<00:24,  6.04it/s]

OTIS saved between 2021-01-01 and 2023-11-01

OXY saved between 2021-01-01 and 2023-11-01

Downloading data:  71%|████████████████████████████████████████████                  | 360/506 [00:57<00:24,  5.96it/s]

PANW saved between 2021-01-01 and 2023-11-01

PARA saved between 2021-01-01 and 2023-11-01

Downloading data:  72%|████████████████████████████████████████████▎                 | 362/506 [00:57<00:24,  5.98it/s]

PAYC saved between 2021-01-01 and 2023-11-01

PAYX saved between 2021-01-01 and 2023-11-01

Downloading data:  72%|████████████████████████████████████████████▌                 | 364/506 [00:58<00:21,  6.56it/s]

PCAR saved between 2021-01-01 and 2023-11-01

PCG saved between 2021-01-01 and 2023-11-01

Downloading data:  72%|████████████████████████████████████████████▊                 | 366/506 [00:58<00:21,  6.61it/s]

PEAK saved between 2021-01-01 and 2023-11-01

PEG saved between 2021-01-01 and 2023-11-01

Downloading data:  73%|████████████████████████████████████████████▉                 | 367/506 [00:58<00:23,  5.93it/s]

PEP saved between 2021-01-01 and 2023-11-01

Downloading data:  73%|█████████████████████████████████████████████▏                | 369/506 [00:58<00:23,  5.78it/s]

PFE saved between 2021-01-01 and 2023-11-01

PFG saved between 2021-01-01 and 2023-11-01

Downloading data:  73%|█████████████████████████████████████████████▍                | 371/506 [00:59<00:24,  5.61it/s]

PG saved between 2021-01-01 and 2023-11-01

PGR saved between 2021-01-01 and 2023-11-01

Downloading data:  74%|█████████████████████████████████████████████▋                | 373/506 [00:59<00:24,  5.45it/s]

PH saved between 2021-01-01 and 2023-11-01

PHM saved between 2021-01-01 and 2023-11-01

Downloading data:  74%|█████████████████████████████████████████████▉                | 375/506 [01:00<00:21,  6.22it/s]

PKG saved between 2021-01-01 and 2023-11-01

PLD saved between 2021-01-01 and 2023-11-01

Downloading data:  75%|██████████████████████████████████████████████▏               | 377/506 [01:00<00:19,  6.67it/s]

PM saved between 2021-01-01 and 2023-11-01

PNC saved between 2021-01-01 and 2023-11-01

Downloading data:  75%|██████████████████████████████████████████████▍               | 379/506 [01:00<00:20,  6.18it/s]

PNR saved between 2021-01-01 and 2023-11-01

PNW saved between 2021-01-01 and 2023-11-01

Downloading data:  75%|██████████████████████████████████████████████▋               | 381/506 [01:00<00:18,  6.66it/s]

PODD saved between 2021-01-01 and 2023-11-01

POOL saved between 2021-01-01 and 2023-11-01

Downloading data:  76%|██████████████████████████████████████████████▉               | 383/506 [01:01<00:20,  6.09it/s]

PPG saved between 2021-01-01 and 2023-11-01

PPL saved between 2021-01-01 and 2023-11-01

Downloading data:  76%|███████████████████████████████████████████████▏              | 385/506 [01:01<00:19,  6.22it/s]

PRU saved between 2021-01-01 and 2023-11-01

PSA saved between 2021-01-01 and 2023-11-01

Downloading data:  76%|███████████████████████████████████████████████▍              | 387/506 [01:02<00:22,  5.40it/s]

PSX saved between 2021-01-01 and 2023-11-01

PTC saved between 2021-01-01 and 2023-11-01

Downloading data:  77%|███████████████████████████████████████████████▋              | 389/506 [01:02<00:25,  4.67it/s]

PWR saved between 2021-01-01 and 2023-11-01

PXD saved between 2021-01-01 and 2023-11-01

Downloading data:  77%|███████████████████████████████████████████████▊              | 390/506 [01:02<00:21,  5.37it/s]

PYPL saved between 2021-01-01 and 2023-11-01

Downloading data:  77%|████████████████████████████████████████████████              | 392/506 [01:02<00:19,  5.87it/s]

QCOM saved between 2021-01-01 and 2023-11-01

QRVO saved between 2021-01-01 and 2023-11-01

Downloading data:  78%|████████████████████████████████████████████████▎             | 394/506 [01:03<00:18,  5.98it/s]

RCL saved between 2021-01-01 and 2023-11-01

REG saved between 2021-01-01 and 2023-11-01

Downloading data:  78%|████████████████████████████████████████████████▌             | 396/506 [01:03<00:17,  6.30it/s]

REGN saved between 2021-01-01 and 2023-11-01

RF saved between 2021-01-01 and 2023-11-01

Downloading data:  79%|████████████████████████████████████████████████▊             | 398/506 [01:03<00:18,  5.99it/s]

RHI saved between 2021-01-01 and 2023-11-01

RJF saved between 2021-01-01 and 2023-11-01

Downloading data:  79%|█████████████████████████████████████████████████             | 400/506 [01:04<00:16,  6.39it/s]

RL saved between 2021-01-01 and 2023-11-01

RMD saved between 2021-01-01 and 2023-11-01

Downloading data:  79%|█████████████████████████████████████████████████▏            | 401/506 [01:04<00:16,  6.35it/s]

ROK saved between 2021-01-01 and 2023-11-01

Downloading data:  80%|█████████████████████████████████████████████████▍            | 403/506 [01:04<00:16,  6.31it/s]

ROL saved between 2021-01-01 and 2023-11-01

ROP saved between 2021-01-01 and 2023-11-01

Downloading data:  80%|█████████████████████████████████████████████████▌            | 405/506 [01:04<00:14,  7.00it/s]

ROST saved between 2021-01-01 and 2023-11-01

RSG saved between 2021-01-01 and 2023-11-01

Downloading data:  80%|█████████████████████████████████████████████████▊            | 407/506 [01:05<00:16,  5.91it/s]

RTX saved between 2021-01-01 and 2023-11-01

RVTY saved between 2021-01-01 and 2023-11-01

Downloading data:  81%|█████████████████████████████████████████████████▉            | 408/506 [01:05<00:21,  4.48it/s]

SBAC saved between 2021-01-01 and 2023-11-01

Downloading data:  81%|██████████████████████████████████████████████████▏           | 410/506 [01:06<00:21,  4.51it/s]

SBUX saved between 2021-01-01 and 2023-11-01

SCHW saved between 2021-01-01 and 2023-11-01

Downloading data:  81%|██████████████████████████████████████████████████▍           | 412/506 [01:06<00:16,  5.76it/s]

SEDG saved between 2021-01-01 and 2023-11-01

SEE saved between 2021-01-01 and 2023-11-01

Downloading data:  82%|██████████████████████████████████████████████████▋           | 414/506 [01:06<00:15,  6.07it/s]

SHW saved between 2021-01-01 and 2023-11-01

SJM saved between 2021-01-01 and 2023-11-01

Downloading data:  82%|██████████████████████████████████████████████████▉           | 416/506 [01:07<00:14,  6.28it/s]

SLB saved between 2021-01-01 and 2023-11-01

SNA saved between 2021-01-01 and 2023-11-01

Downloading data:  82%|███████████████████████████████████████████████████           | 417/506 [01:07<00:13,  6.74it/s]

SNPS saved between 2021-01-01 and 2023-11-01

Downloading data:  83%|███████████████████████████████████████████████████▎          | 419/506 [01:07<00:14,  5.90it/s]

SO saved between 2021-01-01 and 2023-11-01

SPG saved between 2021-01-01 and 2023-11-01

Downloading data:  83%|███████████████████████████████████████████████████▍          | 420/506 [01:07<00:19,  4.44it/s]

SPGI saved between 2021-01-01 and 2023-11-01

Downloading data:  83%|███████████████████████████████████████████████████▋          | 422/506 [01:08<00:23,  3.54it/s]

SRE saved between 2021-01-01 and 2023-11-01

STE saved between 2021-01-01 and 2023-11-01

Downloading data:  84%|███████████████████████████████████████████████████▉          | 424/506 [01:09<00:17,  4.56it/s]

STLD saved between 2021-01-01 and 2023-11-01

STT saved between 2021-01-01 and 2023-11-01

Downloading data:  84%|████████████████████████████████████████████████████▏         | 426/506 [01:09<00:15,  5.30it/s]

STX saved between 2021-01-01 and 2023-11-01

STZ saved between 2021-01-01 and 2023-11-01

Downloading data:  85%|████████████████████████████████████████████████████▍         | 428/506 [01:09<00:13,  5.95it/s]

SWK saved between 2021-01-01 and 2023-11-01

SWKS saved between 2021-01-01 and 2023-11-01

Downloading data:  85%|████████████████████████████████████████████████████▋         | 430/506 [01:09<00:12,  6.05it/s]

SYF saved between 2021-01-01 and 2023-11-01

SYK saved between 2021-01-01 and 2023-11-01

Downloading data:  85%|████████████████████████████████████████████████████▉         | 432/506 [01:10<00:12,  5.91it/s]

SYY saved between 2021-01-01 and 2023-11-01

T saved between 2021-01-01 and 2023-11-01

Downloading data:  86%|█████████████████████████████████████████████████████▏        | 434/506 [01:10<00:12,  5.82it/s]

TAP saved between 2021-01-01 and 2023-11-01

TDG saved between 2021-01-01 and 2023-11-01

Downloading data:  86%|█████████████████████████████████████████████████████▍        | 436/506 [01:10<00:10,  6.63it/s]

TDY saved between 2021-01-01 and 2023-11-01

TECH saved between 2021-01-01 and 2023-11-01

Downloading data:  87%|█████████████████████████████████████████████████████▋        | 438/506 [01:11<00:10,  6.78it/s]

TEL saved between 2021-01-01 and 2023-11-01

TER saved between 2021-01-01 and 2023-11-01

Downloading data:  87%|█████████████████████████████████████████████████████▉        | 440/506 [01:11<00:10,  6.39it/s]

TFC saved between 2021-01-01 and 2023-11-01

TFX saved between 2021-01-01 and 2023-11-01

Downloading data:  87%|██████████████████████████████████████████████████████▏       | 442/506 [01:11<00:10,  6.33it/s]

TGT saved between 2021-01-01 and 2023-11-01

TJX saved between 2021-01-01 and 2023-11-01

Downloading data:  88%|██████████████████████████████████████████████████████▍       | 444/506 [01:12<00:10,  6.16it/s]

TMO saved between 2021-01-01 and 2023-11-01

TMUS saved between 2021-01-01 and 2023-11-01

Downloading data:  88%|██████████████████████████████████████████████████████▋       | 446/506 [01:12<00:08,  6.92it/s]

TPR saved between 2021-01-01 and 2023-11-01

TRGP saved between 2021-01-01 and 2023-11-01

Downloading data:  89%|██████████████████████████████████████████████████████▉       | 448/506 [01:12<00:08,  7.07it/s]

TRMB saved between 2021-01-01 and 2023-11-01

TROW saved between 2021-01-01 and 2023-11-01

Downloading data:  89%|███████████████████████████████████████████████████████▏      | 450/506 [01:13<00:08,  6.99it/s]

TRV saved between 2021-01-01 and 2023-11-01

TSCO saved between 2021-01-01 and 2023-11-01

Downloading data:  89%|███████████████████████████████████████████████████████▍      | 452/506 [01:13<00:07,  7.22it/s]

TSLA saved between 2021-01-01 and 2023-11-01

TSN saved between 2021-01-01 and 2023-11-01

Downloading data:  90%|███████████████████████████████████████████████████████▋      | 454/506 [01:13<00:07,  6.72it/s]

TT saved between 2021-01-01 and 2023-11-01

TTWO saved between 2021-01-01 and 2023-11-01

Downloading data:  90%|███████████████████████████████████████████████████████▊      | 455/506 [01:13<00:08,  6.26it/s]

TXN saved between 2021-01-01 and 2023-11-01

Downloading data:  90%|███████████████████████████████████████████████████████▉      | 457/506 [01:14<00:08,  5.90it/s]

TXT saved between 2021-01-01 and 2023-11-01

TYL saved between 2021-01-01 and 2023-11-01

Downloading data:  91%|████████████████████████████████████████████████████████▏     | 459/506 [01:14<00:07,  6.27it/s]

UAL saved between 2021-01-01 and 2023-11-01

UDR saved between 2021-01-01 and 2023-11-01

Downloading data:  91%|████████████████████████████████████████████████████████▎     | 460/506 [01:14<00:08,  5.38it/s]

UHS saved between 2021-01-01 and 2023-11-01

Downloading data:  91%|████████████████████████████████████████████████████████▌     | 462/506 [01:15<00:08,  5.39it/s]

ULTA saved between 2021-01-01 and 2023-11-01

UNH saved between 2021-01-01 and 2023-11-01

Downloading data:  92%|████████████████████████████████████████████████████████▊     | 464/506 [01:15<00:06,  6.09it/s]

UNP saved between 2021-01-01 and 2023-11-01

UPS saved between 2021-01-01 and 2023-11-01

Downloading data:  92%|█████████████████████████████████████████████████████████     | 466/506 [01:15<00:05,  7.00it/s]

URI saved between 2021-01-01 and 2023-11-01

USB saved between 2021-01-01 and 2023-11-01

Downloading data:  92%|█████████████████████████████████████████████████████████▏    | 467/506 [01:15<00:05,  6.81it/s]

V saved between 2021-01-01 and 2023-11-01

Downloading data:  93%|█████████████████████████████████████████████████████████▍    | 469/506 [01:16<00:05,  6.77it/s]

VFC saved between 2021-01-01 and 2023-11-01

VICI saved between 2021-01-01 and 2023-11-01

Downloading data:  93%|█████████████████████████████████████████████████████████▋    | 471/506 [01:16<00:05,  5.95it/s]

VLO saved between 2021-01-01 and 2023-11-01

VLTO saved between 2021-01-01 and 2023-11-01

Downloading data:  93%|█████████████████████████████████████████████████████████▉    | 473/506 [01:16<00:04,  6.69it/s]

VMC saved between 2021-01-01 and 2023-11-01

VRSK saved between 2021-01-01 and 2023-11-01

Downloading data:  94%|██████████████████████████████████████████████████████████▏   | 475/506 [01:17<00:04,  6.96it/s]

VRSN saved between 2021-01-01 and 2023-11-01

VRTX saved between 2021-01-01 and 2023-11-01

Downloading data:  94%|██████████████████████████████████████████████████████████▍   | 477/506 [01:17<00:04,  6.98it/s]

VTR saved between 2021-01-01 and 2023-11-01

VTRS saved between 2021-01-01 and 2023-11-01

Downloading data:  95%|██████████████████████████████████████████████████████████▋   | 479/506 [01:17<00:04,  6.20it/s]

VZ saved between 2021-01-01 and 2023-11-01

WAB saved between 2021-01-01 and 2023-11-01

Downloading data:  95%|██████████████████████████████████████████████████████████▉   | 481/506 [01:17<00:03,  7.07it/s]

WAT saved between 2021-01-01 and 2023-11-01

WBA saved between 2021-01-01 and 2023-11-01

Downloading data:  95%|███████████████████████████████████████████████████████████▏  | 483/506 [01:18<00:03,  7.30it/s]

WBD saved between 2021-01-01 and 2023-11-01

WDC saved between 2021-01-01 and 2023-11-01

Downloading data:  96%|███████████████████████████████████████████████████████████▍  | 485/506 [01:18<00:03,  6.76it/s]

WEC saved between 2021-01-01 and 2023-11-01

WELL saved between 2021-01-01 and 2023-11-01

Downloading data:  96%|███████████████████████████████████████████████████████████▋  | 487/506 [01:18<00:02,  6.54it/s]

WFC saved between 2021-01-01 and 2023-11-01

WHR saved between 2021-01-01 and 2023-11-01

Downloading data:  96%|███████████████████████████████████████████████████████████▊  | 488/506 [01:18<00:02,  6.83it/s]

WM saved between 2021-01-01 and 2023-11-01

Downloading data:  97%|████████████████████████████████████████████████████████████  | 490/506 [01:19<00:02,  6.06it/s]

WMB saved between 2021-01-01 and 2023-11-01

WMT saved between 2021-01-01 and 2023-11-01

Downloading data:  97%|████████████████████████████████████████████████████████████▎ | 492/506 [01:19<00:02,  6.30it/s]

WRB saved between 2021-01-01 and 2023-11-01

WRK saved between 2021-01-01 and 2023-11-01

Downloading data:  98%|████████████████████████████████████████████████████████████▌ | 494/506 [01:19<00:01,  6.96it/s]

WST saved between 2021-01-01 and 2023-11-01

WTW saved between 2021-01-01 and 2023-11-01

Downloading data:  98%|████████████████████████████████████████████████████████████▊ | 496/506 [01:20<00:01,  6.70it/s]

WY saved between 2021-01-01 and 2023-11-01

WYNN saved between 2021-01-01 and 2023-11-01

Downloading data:  98%|████████████████████████████████████████████████████████████▉ | 497/506 [01:20<00:01,  6.55it/s]

XEL saved between 2021-01-01 and 2023-11-01

Downloading data:  99%|█████████████████████████████████████████████████████████████▏| 499/506 [01:20<00:01,  6.31it/s]

XOM saved between 2021-01-01 and 2023-11-01

XRAY saved between 2021-01-01 and 2023-11-01

Downloading data:  99%|█████████████████████████████████████████████████████████████▍| 501/506 [01:20<00:00,  7.10it/s]

XYL saved between 2021-01-01 and 2023-11-01

YUM saved between 2021-01-01 and 2023-11-01

Downloading data:  99%|█████████████████████████████████████████████████████████████▋| 503/506 [01:21<00:00,  7.34it/s]

ZBH saved between 2021-01-01 and 2023-11-01

ZBRA saved between 2021-01-01 and 2023-11-01

Downloading data: 100%|█████████████████████████████████████████████████████████████▉| 505/506 [01:21<00:00,  6.02it/s]

ZION saved between 2021-01-01 and 2023-11-01

ZTS saved between 2021-01-01 and 2023-11-01

Downloading data: 100%|██████████████████████████████████████████████████████████████| 506/506 [02:49<00:00,  2.98it/s]

MMC saved between 2021-01-01 and 2023-11-01
2min 49s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

# Read Minute

In [33]:
pd.read_sql_query("SELECT * FROM stock_data", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
3646195,2023-10-23 15:59:00-04:00,ZBRA,204.910004,205.289993,204.910004,205.160004,205.160004,7985
3646196,2023-10-23 15:59:00-04:00,WY,28.830000,28.860001,28.830000,28.840000,28.840000,93030
3646197,2023-10-23 15:59:00-04:00,WEC,80.500000,80.559998,80.495003,80.529999,80.529999,57758
3646198,2023-10-23 15:59:00-04:00,WELL,82.930000,83.010002,82.910004,82.970001,82.970001,47302
3646199,2023-10-23 15:59:00-04:00,YUM,118.709999,118.800003,118.699997,118.760002,118.760002,57433

# CHANGE COLUMN Datetime to date

In [6]:
#CHANGE COLUMN Datetime to date

import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

# Use a SQL ALTER TABLE statement to rename the column

# con.execute("ALTER TABLE stock_data RENAME COLUMN Datetime TO date")
con.execute("ALTER TABLE stock_data RENAME COLUMN date TO Datetime")

# Commit the changes
con.commit()

pd.read_sql_query("SELECT * FROM stock_data", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
5315767,2023-10-24T15:55:00-04:00,PLD,101.750000,101.930000,101.730003,101.919998,101.919998,30660
5315768,2023-10-24T15:56:00-04:00,PLD,101.919998,101.940002,101.870003,101.870003,101.870003,25185
5315769,2023-10-24T15:57:00-04:00,PLD,101.875000,101.875000,101.809998,101.830002,101.830002,27146
5315770,2023-10-24T15:58:00-04:00,PLD,101.830002,101.849998,101.790001,101.820000,101.820000,30782
5315771,2023-10-24T15:59:00-04:00,PLD,101.809998,101.809998,101.690002,101.690002,101.690002,103323

In [7]:
pd.read_sql_query("SELECT * FROM stock_data", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
6246960,2023-11-03T15:55:00-04:00,ZBRA,214.229996,214.309998,214.190002,214.210007,214.210007,5587
6246961,2023-11-03T15:56:00-04:00,ZBRA,214.255005,214.410004,214.250000,214.330002,214.330002,8650
6246962,2023-11-03T15:57:00-04:00,ZBRA,214.279999,214.460007,214.270004,214.419998,214.419998,10312
6246963,2023-11-03T15:58:00-04:00,ZBRA,214.399994,214.479996,214.350006,214.350006,214.350006,5581
6246964,2023-11-03T15:59:00-04:00,ZBRA,214.369995,214.550003,214.210007,214.250000,214.250000,10329

# START HERE HERE HERE, NEXT WEEK AFTER DL, REPLACE T, FIND DUPLICATE, DELETE DUPLICATE | 31 oct, 371,876 kb 4,394,813

In [18]:
# Replace all T with space
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
sql_query = """
UPDATE stock_data
SET date = REPLACE(date, 'T', ' ')
WHERE date LIKE '%T%';
"""
con.execute(sql_query)
con.commit()
print("Replaced all T with space")
# pd.read_sql_query("SELECT * FROM stock_data", con)

Replaced all T with space

In [22]:
# DUPLICATES
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
pd.read_sql_query("""
SELECT * FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, date
);
""",con)

Empty DataFrame
Columns: [date, symbol, open, high, low, close, adj_close, volume]
Index: []

In [21]:
#deletes duplicates, keep 1 copy
# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

sql_query = """
DELETE FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, date
);
"""

con.execute(sql_query)
con.commit()
pd.read_sql_query("SELECT * from stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
4394808,2023-10-27 15:55:00-04:00,ZTS,155.429993,155.619995,155.410004,155.619995,155.619995,32879
4394809,2023-10-27 15:56:00-04:00,ZTS,155.615005,155.615005,155.440002,155.485001,155.485001,32196
4394810,2023-10-27 15:57:00-04:00,ZTS,155.485001,155.660004,155.470001,155.654999,155.654999,27362
4394811,2023-10-27 15:58:00-04:00,ZTS,155.654999,155.779999,155.639999,155.720001,155.720001,40929
4394812,2023-10-27 15:59:00-04:00,ZTS,155.720001,156.210007,155.714996,156.029999,156.029999,113975

# Vacuum

SQLite does not support data compression as a built-in feature. When you write new data to an SQLite database, the file size may not change significantly for several reasons:

Data Pages: SQLite stores data in fixed-size pages (usually 4096 bytes per page by default). When you insert new data, it may not take up a full page, and SQLite may not immediately reclaim the unused space. This can lead to the database file not growing in size even if you are adding new data.

Journaling and Transactions: SQLite uses a journaling mechanism to ensure data consistency and durability. Data is first written to a journal file, and then the changes are committed to the main database file. This process can cause fluctuations in the file size, but it may not immediately reflect the new data until the changes are committed.

Freelist: SQLite maintains a freelist of unused pages. When you delete data, the space is marked as free in the database file, but it's not immediately returned to the operating system or reduced in file size. This free space is available for future insertions.

Database Vacuuming: SQLite provides a "VACUUM" command that can be used to rebuild the database file and reclaim unused space. You can manually run the VACUUM command to reduce the size of the database file. However, this operation can be time-consuming, especially for large databases.

If you want to reduce the size of your SQLite database file while it's still actively being written to, you can periodically run the VACUUM command. Keep in mind that this operation can lock the database and may have some performance impact, so it's important to schedule it during maintenance windows or periods of low activity. Here's how you can run the VACUUM command in SQLite:

In [13]:
import sqlite3

# Open a connection to your database
conn = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")

# Create a cursor
cursor = conn.cursor()

# Run the VACUUM command
cursor.execute('VACUUM')

# Commit the changes and close the connection
conn.commit()
conn.close()
print('Vacuum-ed!')

Vacuum-ed!

# Read daily db

In [2]:
import sqlite3
import pandas as pd

con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_market_data.db")
pd.read_sql_query("""
SELECT * FROM stock_data
WHERE Date LIKE '2023-11-01%'
""", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-11-01T00:00:00,ACGL,87.250000,90.650002,87.050003,90.000000,90.000000,4031500
1,2023-11-01T00:00:00,IWM,164.460007,165.600006,163.100006,165.460007,165.460007,44282200
2,2023-11-01T00:00:00,ABBV,141.860001,143.710007,141.750000,142.470001,142.470001,4206600
3,2023-11-01T00:00:00,A,102.500000,103.209999,100.260002,102.860001,102.860001,2284600
4,2023-11-01T00:00:00,ADI,157.460007,159.479996,155.470001,159.240005,159.240005,4324600
...,...,...,...,...,...,...,...,...
500,2023-11-01T00:00:00,TFX,185.250000,188.380005,183.910004,187.509995,187.509995,843000
501,2023-11-01T00:00:00,UDR,31.760000,31.860001,30.950001,31.410000,31.410000,4160100
502,2023-11-01T00:00:00,WBD,9.970000,10.210000,9.840000,10.080000,10.080000,20027200
503,2023-11-01T00:00:00,WMB,34.520000,35.080002,34.290001,34.720001,34.720001,6093600
504,2023-11-01T00:00:00,ZION,30.740000,31.129999,30.330000,31.020000,31.020000,2261800

# READ 1 MIN | 390 intervals

In [17]:
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
pd.read_sql_query("""
SELECT * FROM stock_data
WHERE symbol='SPY' 
AND date LIKE '2023-10-26%'
""", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-10-26T09:30:00-04:00,SPY,416.450012,416.709991,416.109985,416.510010,416.510010,3342449
1,2023-10-26T09:31:00-04:00,SPY,416.519989,416.950012,416.450012,416.869995,416.869995,546055
2,2023-10-26T09:32:00-04:00,SPY,416.839996,417.049988,416.450012,417.010010,417.010010,410393
3,2023-10-26T09:33:00-04:00,SPY,417.019592,417.325012,416.950012,417.309998,417.309998,381761
4,2023-10-26T09:34:00-04:00,SPY,417.315002,417.315002,416.950012,417.040009,417.040009,332309
...,...,...,...,...,...,...,...,...
385,2023-10-26T15:55:00-04:00,SPY,412.660004,412.904999,412.579987,412.850006,412.850006,743146
386,2023-10-26T15:56:00-04:00,SPY,412.850006,412.890015,412.654999,412.700012,412.700012,726213
387,2023-10-26T15:57:00-04:00,SPY,412.700012,412.850006,412.660004,412.790009,412.790009,693587
388,2023-10-26T15:58:00-04:00,SPY,412.799988,412.920013,412.700012,412.774994,412.774994,1553349
389,2023-10-26T15:59:00-04:00,SPY,412.779999,412.839996,412.339996,412.589996,412.589996,2502439

In [19]:
# Replace all T with space
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
sql_query = """
UPDATE stock_data
SET date = REPLACE(date, 'T', ' ')
WHERE date LIKE '%T%';
"""
con.execute(sql_query)
con.commit()
pd.read_sql_query("SELECT * FROM stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
3646195,2023-10-23 15:59:00-04:00,ZBRA,204.910004,205.289993,204.910004,205.160004,205.160004,7985
3646196,2023-10-23 15:59:00-04:00,WY,28.830000,28.860001,28.830000,28.840000,28.840000,93030
3646197,2023-10-23 15:59:00-04:00,WEC,80.500000,80.559998,80.495003,80.529999,80.529999,57758
3646198,2023-10-23 15:59:00-04:00,WELL,82.930000,83.010002,82.910004,82.970001,82.970001,47302
3646199,2023-10-23 15:59:00-04:00,YUM,118.709999,118.800003,118.699997,118.760002,118.760002,57433

In [20]:
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
pd.read_sql_query("SELECT * FROM stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 09:30:00-04:00,SPY,429.089996,429.459991,429.059998,429.350006,429.350006,1973725
1,2023-09-26 09:30:00-04:00,QQQ,357.214996,357.329987,356.859985,357.220001,357.220001,1511950
2,2023-09-26 09:30:00-04:00,IWM,175.500000,175.630005,175.369995,175.630005,175.630005,557316
3,2023-09-26 09:30:00-04:00,A,110.879997,111.589996,110.879997,111.400002,111.400002,8988
4,2023-09-26 09:30:00-04:00,AAL,12.830000,12.920000,12.830000,12.920000,12.920000,225275
...,...,...,...,...,...,...,...,...
4764022,2023-10-27 15:55:00-04:00,ZTS,155.429993,155.619995,155.410004,155.619995,155.619995,32879
4764023,2023-10-27 15:56:00-04:00,ZTS,155.615005,155.615005,155.440002,155.485001,155.485001,32196
4764024,2023-10-27 15:57:00-04:00,ZTS,155.485001,155.660004,155.470001,155.654999,155.654999,27362
4764025,2023-10-27 15:58:00-04:00,ZTS,155.654999,155.779999,155.639999,155.720001,155.720001,40929
4764026,2023-10-27 15:59:00-04:00,ZTS,155.720001,156.210007,155.714996,156.029999,156.029999,113975

In [56]:
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\replace_market_data.db")
# con.execute("ALTER TABLE stock_data RENAME COLUMN date TO Datetime")
con.execute("ALTER TABLE stock_data RENAME COLUMN Datetime TO date")

# Commit the changes
con.commit()
pd.read_sql_query("SELECT * FROM stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-10-18T09:30:00-04:00,SPY,434.190002,434.380005,434.029999,434.239990,434.239990,1475084
1,2023-10-18T09:31:00-04:00,SPY,434.250000,434.250000,433.929993,433.966003,433.966003,225264
2,2023-10-18T09:32:00-04:00,SPY,433.966003,434.200012,433.869995,434.019989,434.019989,152119
3,2023-10-18T09:33:00-04:00,SPY,434.019989,434.339996,433.940002,434.229492,434.229492,204473
4,2023-10-18T09:34:00-04:00,SPY,434.220001,434.779999,434.179993,434.640015,434.640015,339862
...,...,...,...,...,...,...,...,...
116577,2023-10-18T15:55:00-04:00,MRO,28.815001,28.840000,28.815001,28.825001,28.825001,66210
116578,2023-10-18T15:56:00-04:00,MRO,28.825001,28.850000,28.820000,28.834999,28.834999,90050
116579,2023-10-18T15:57:00-04:00,MRO,28.840000,28.840000,28.830000,28.835600,28.835600,40825
116580,2023-10-18T15:58:00-04:00,MRO,28.835100,28.860001,28.830000,28.855000,28.855000,106780
116581,2023-10-18T15:59:00-04:00,MRO,28.850000,28.870001,28.840000,28.850000,28.850000,172986

In [53]:
# con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\replace_market_data.db")
schema_query = "PRAGMA table_info(stock_data)"
schema = con.execute(schema_query).fetchall()
schema

[(0, 'date', 'TIMESTAMP', 0, None, 0),
 (1, 'symbol', 'TEXT', 0, None, 0),
 (2, 'open', 'REAL', 0, None, 0),
 (3, 'high', 'REAL', 0, None, 0),
 (4, 'low', 'REAL', 0, None, 0),
 (5, 'close', 'REAL', 0, None, 0),
 (6, 'adj_close', 'REAL', 0, None, 0),
 (7, 'volume', 'INTEGER', 0, None, 0)]

In [22]:
#DELETE somehow need 25 instead of 10
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\min\min_sp500_market_data.db")
sql_query = """
DELETE FROM stock_data WHERE date='2023-10-23T00:00:00';
"""
con.execute(sql_query)
con.commit()
pd.read_sql_query("SELECT * FROM stock_data", con)

,date,symbol,open,high,low,close,adj_close,volume
0,2023-10-17T09:30:00-04:00,SPY,432.809998,433.170013,432.769989,433.149994,433.149994,2482799
1,2023-10-17T09:31:00-04:00,SPY,433.140015,433.269989,432.940002,433.230011,433.230011,341416
2,2023-10-17T09:32:00-04:00,SPY,433.220001,433.410004,433.109985,433.379913,433.379913,324862
3,2023-10-17T09:33:00-04:00,SPY,433.380005,433.399994,433.180908,433.190002,433.190002,319216
4,2023-10-17T09:34:00-04:00,SPY,433.184998,433.475006,433.140015,433.410004,433.410004,192259
...,...,...,...,...,...,...,...,...
914891,2023-10-23T15:55:00-04:00,YUM,118.809998,118.849998,118.800003,118.820000,118.820000,21441
914892,2023-10-23T15:56:00-04:00,YUM,118.824997,118.849998,118.800003,118.830002,118.830002,18563
914893,2023-10-23T15:57:00-04:00,YUM,118.824997,118.839996,118.809998,118.820000,118.820000,14320
914894,2023-10-23T15:58:00-04:00,YUM,118.820000,118.820000,118.720001,118.720001,118.720001,26310
914895,2023-10-23T15:59:00-04:00,YUM,118.709999,118.800003,118.699997,118.760002,118.760002,57433

In [20]:
len('2023-10-23T15:59:00-04:00')

25

In [17]:
import yfinance as yf
af = yf.download('AAPL', start = '2023-10-18', end = '2023-10-19', interval='1m')
af

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-10-18 09:30:00-04:00,175.580002,175.759995,175.419998,175.651001,175.651001,1569296
2023-10-18 09:31:00-04:00,175.649994,175.750000,175.522995,175.567993,175.567993,212237
2023-10-18 09:32:00-04:00,175.576996,175.850006,175.576996,175.800003,175.800003,213854
2023-10-18 09:33:00-04:00,175.809998,176.229996,175.699997,176.190002,176.190002,333025
2023-10-18 09:34:00-04:00,176.190002,176.475006,176.139999,176.406006,176.406006,205445
...,...,...,...,...,...,...
2023-10-18 15:55:00-04:00,175.710007,175.889999,175.690002,175.695007,175.695007,321321
2023-10-18 15:56:00-04:00,175.692398,175.750000,175.615005,175.615005,175.615005,236249
2023-10-18 15:57:00-04:00,175.625000,175.710007,175.589996,175.699997,175.699997,277178
2023-10-18 15:58:00-04:00,175.699997,175.830002,175.690002,175.809998,175.809998,484290
2023-10-18 15:59:00-04:00,175.815002,175.910004,175.690002,175.781006,175.781006,1033490

In [25]:
#READ ALL 1 MIN
df = pd.read_sql_query("SELECT * FROM stock_data WHERE strftime('%H:%M:%S', date) = '16:00:00'", con)
df

,date,symbol,open,high,low,close,adj_close,volume
0,2023-09-26 12:00:00-04:00,SPY,427.099915,427.239990,427.070007,427.214996,427.214996,131666
1,2023-09-26 12:00:00-04:00,QQQ,354.950012,355.070007,354.915009,355.020111,355.020111,74705
2,2023-09-26 12:00:00-04:00,IWM,175.589996,175.619995,175.570007,175.610001,175.610001,13305228
3,2023-09-26 12:00:00-04:00,A,111.925003,111.925003,111.900002,111.910004,111.910004,1384
4,2023-09-26 12:00:00-04:00,AAL,12.835000,12.850000,12.830000,12.845000,12.845000,73886
...,...,...,...,...,...,...,...,...
9291,2023-10-23 12:00:00-04:00,ZBRA,206.600006,206.630005,206.549194,206.549194,206.549194,1118
9292,2023-10-23 12:00:00-04:00,WY,29.059999,29.070000,29.049999,29.065001,29.065001,4267
9293,2023-10-23 12:00:00-04:00,WEC,81.410004,81.410004,81.379997,81.379997,81.379997,1121
9294,2023-10-23 12:00:00-04:00,WELL,83.180000,83.205002,83.169998,83.169998,83.169998,1059
9295,2023-10-23 12:00:00-04:00,YUM,118.779999,118.794998,118.750000,118.794998,118.794998,2476

In [21]:
len('2023-10-23 15:59:00-04:00')

25

In [81]:
df.sort_values(by='date', ascending=True)

,date,symbol,open,high,low,close,adj_close,volume
2807471,2023-09-26T09:30:00-04:00,AOS,64.300003,64.550003,64.300003,64.309998,64.309998,13941
3515700,2023-09-26T09:30:00-04:00,T,14.800000,14.820000,14.770000,14.800000,14.800000,465828
2999244,2023-09-26T09:30:00-04:00,DPZ,386.489990,386.489990,386.489990,386.489990,386.489990,8206
3180315,2023-09-26T09:30:00-04:00,IP,34.639999,34.660000,34.560001,34.610001,34.610001,36433
3535948,2023-09-26T09:30:00-04:00,TMUS,140.009995,140.020004,139.800003,139.800003,139.800003,38479
...,...,...,...,...,...,...,...,...
93649,2023-10-23T15:59:00-04:00,AWK,115.309998,115.519997,115.300003,115.500000,115.500000,35888
223081,2023-10-23T15:59:00-04:00,CSX,30.145000,30.190001,30.139999,30.170000,30.170000,373127
525846,2023-10-23T15:59:00-04:00,LVS,46.400002,46.459999,46.360001,46.459999,46.459999,174056
309858,2023-10-23T15:59:00-04:00,ES,52.410000,52.480000,52.400002,52.430000,52.430000,75947
137323,2023-10-23T15:59:00-04:00,BWA,38.250000,38.270000,38.220001,38.220001,38.220001,94585

In [50]:
# DUPLICATES
pd.read_sql_query("""
SELECT * FROM stock_data
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM stock_data
    GROUP BY symbol, date
);
""",con)

Empty DataFrame
Columns: [date, symbol, open, high, low, close, adj_close, volume]
Index: []

In [48]:
pd.read_sql_query("SELECT * FROM stock_data WHERE date = '2023-10-23T00:00:00'", con)  #Entire db

Empty DataFrame
Columns: [date, symbol, open, high, low, close, adj_close, volume]
Index: []

In [39]:
pd.read_sql_query("SELECT * FROM stock_data WHERE date LIKE '2023-10-23%'", con).nunique()

date           390
symbol         503
open         59409
high         59367
low          59508
close        61710
adj_close    61710
volume       37373
dtype: int64

In [35]:
len(pd.read_sql_query("SELECT * FROM stock_data WHERE symbol='SPY' AND date LIKE '2023-10-23%'", con))

390

# 1 min, 1m = max 7 days within last 30 days

In [4]:
import datetime as dt
from datetime import datetime, timedelta

wk0 = (dt.datetime.today() - timedelta(days=7)).strftime('%Y-%m-%d')
wk1 = (datetime.strptime(wk0, '%Y-%m-%d') - timedelta(days=7)).strftime('%Y-%m-%d')
wk2 = (datetime.strptime(wk1, '%Y-%m-%d') - timedelta(days=14)).strftime('%Y-%m-%d')
wk3 = (datetime.strptime(wk2, '%Y-%m-%d') - timedelta(days=21)).strftime('%Y-%m-%d')

print(f"""
You are running this on: {dt.datetime.today().strftime('%Y-%m-%d')}

Prev 4 time periods:
{wk3} {wk2}
{wk2} {wk1}
{wk1} {wk0}
{wk0} {dt.datetime.today().strftime('%Y-%m-%d')}
""")

You are running this on: 2023-10-25

Prev 4 time periods:
2023-09-06 2023-09-27
2023-09-27 2023-10-11
2023-10-11 2023-10-18
2023-10-18 2023-10-25

# 30m = max 60 days

In [5]:
import datetime as dt
from datetime import datetime, timedelta

thirty_min_date = (dt.datetime.today() - timedelta(days=60)).strftime('%Y-%m-%d')
thirty_min_date

'2023-08-26'

In [75]:
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\half_hr\mins30_sp500_market_data.db")
pd.read_sql_query("SELECT * from stock_data", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-08-28T09:30:00,SPY,442.239990,443.209015,441.785004,442.579987,442.579987,7127416
1,2023-08-28T10:00:00,SPY,442.579987,443.179993,442.179993,443.178986,443.178986,3688232
2,2023-08-28T10:30:00,SPY,443.170013,443.230011,441.359985,442.070007,442.070007,4920771
3,2023-08-28T11:00:00,SPY,442.070007,442.079987,441.200012,441.459991,441.459991,3342484
4,2023-08-28T11:30:00,SPY,441.459991,441.980011,440.899994,441.489014,441.489014,3634179
...,...,...,...,...,...,...,...,...
275780,2023-10-25T13:30:00,ZTS,164.384995,164.384995,163.910004,164.240005,164.240005,49260
275781,2023-10-25T14:00:00,ZTS,164.240005,164.270004,163.770004,164.229996,164.229996,51655
275782,2023-10-25T14:30:00,ZTS,164.220001,164.300003,163.770004,164.020004,164.020004,60454
275783,2023-10-25T15:00:00,ZTS,164.020004,164.070007,163.580002,163.884995,163.884995,80899
275784,2023-10-25T15:30:00,ZTS,163.869995,164.149902,163.490005,163.669998,163.669998,217942

In [88]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\half_hr\mins30_sp500_market_data.db")
pd.read_sql_query("SELECT * FROM stock_data WHERE symbol = 'AAPL' AND Datetime LIKE '2023-10-06T%' ", con)
# pd.read_sql_query("SELECT * FROM stock_data WHERE symbol = 'AAPL'", con)

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2023-10-06T09:30:00,AAPL,173.800003,175.059998,173.179993,174.029999,174.029999,7039049
1,2023-10-06T10:00:00,AAPL,174.029999,174.889999,173.350006,174.809998,174.809998,4057463
2,2023-10-06T10:30:00,AAPL,174.800003,175.279999,174.729996,175.130005,175.130005,4093035
3,2023-10-06T11:00:00,AAPL,175.132401,175.725006,175.089996,175.449997,175.449997,3862371
4,2023-10-06T11:30:00,AAPL,175.449997,176.839996,175.429993,176.798706,176.798706,3706812
5,2023-10-06T12:00:00,AAPL,176.794998,177.050003,176.309998,176.670105,176.670105,3459782
6,2023-10-06T12:30:00,AAPL,176.679993,176.990005,176.449997,176.820007,176.820007,2102509
7,2023-10-06T13:00:00,AAPL,176.830002,177.360001,176.690002,177.160004,177.160004,2954157
8,2023-10-06T13:30:00,AAPL,177.169998,177.389999,177.100006,177.279907,177.279907,1929922
9,2023-10-06T14:00:00,AAPL,177.274994,177.539993,177.130005,177.529099,177.529099,2124945
10,2023-10-06T14:30:00,AAPL,177.529999,177.705902,177.419998,177.539993,177.539993,2081191
11,2023-10-06T15:00:00,AAPL,177.535004,177.955002,177.449997,177.940002,177.940002,3553305
12,2023-10-06T15:30:00,AAPL,177.934998,177.990005,177.399994,177.490005,177.490005,7319309

In [1]:
string = 'trevorleadford84lv5mnpsykl'
string[::-1]

'lkyspnm5vl48drofdaelrovert'

# 60m/1h = max 730 days

In [6]:
import datetime as dt
from datetime import datetime, timedelta

hrly_date = (dt.datetime.today() - timedelta(days=730)).strftime('%Y-%m-%d')
hrly_date

'2021-10-25'

In [8]:
import yfinance as yf
aapl = yf.download('AAPL', start='2023-10-01', end='2023-10-07', interval='5m')
aapl

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-10-02 09:30:00-04:00,171.220001,173.070007,170.929993,172.990005,172.990005,2930178
2023-10-02 09:35:00-04:00,173.020004,173.199997,172.800003,173.035004,173.035004,1301197
2023-10-02 09:40:00-04:00,173.046494,173.210007,172.850006,173.179993,173.179993,856757
2023-10-02 09:45:00-04:00,173.179993,173.250000,172.869995,173.029007,173.029007,793359
2023-10-02 09:50:00-04:00,173.024994,173.139999,172.809998,172.880005,172.880005,674289
...,...,...,...,...,...,...
2023-10-06 15:35:00-04:00,177.744995,177.929993,177.720001,177.919998,177.919998,523148
2023-10-06 15:40:00-04:00,177.919998,177.948898,177.720001,177.755005,177.755005,760200
2023-10-06 15:45:00-04:00,177.755005,177.899994,177.710098,177.819901,177.819901,819002
2023-10-06 15:50:00-04:00,177.820007,177.919998,177.399994,177.459900,177.459900,1936766
2023-10-06 15:55:00-04:00,177.449997,177.600006,177.404999,177.490005,177.490005,2664447

# RESAMPLING

In [80]:
# Resample the data into 10-minute intervals and calculate the OHLCV
interval_data = aapl.resample('30T').apply({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum'
    # 'Symbol': 'first'  # Assuming 'Symbol' remains the same for each 10-minute interval
}).dropna()

# Reset the index to have 'Datetime' as a regular column
# interval_data = interval_data.reset_index(inplace=True)
interval_data.loc['2023-10-06']

,Open,High,Low,Close,Volume
Datetime,,,,,
2023-10-06 09:30:00-04:00,173.800003,175.059998,173.179993,174.029999,7039049
2023-10-06 10:00:00-04:00,174.029999,174.889999,173.350006,174.809998,4057463
2023-10-06 10:30:00-04:00,174.800003,175.279999,174.729996,175.130005,4093035
2023-10-06 11:00:00-04:00,175.132401,175.725006,175.089996,175.449997,3862371
2023-10-06 11:30:00-04:00,175.449997,176.839996,175.429993,176.798706,3706812
2023-10-06 12:00:00-04:00,176.794998,177.050003,176.309998,176.670105,3459782
2023-10-06 12:30:00-04:00,176.679993,176.990005,176.449997,176.820007,2102509
2023-10-06 13:00:00-04:00,176.830002,177.360001,176.690002,177.160004,2954157
2023-10-06 13:30:00-04:00,177.169998,177.389999,177.100006,177.279907,1929922
2023-10-06 14:00:00-04:00,177.274994,177.539993,177.130005,177.529099,2124945
2023-10-06 14:30:00-04:00,177.529999,177.705902,177.419998,177.539993,2081191
2023-10-06 15:00:00-04:00,177.535004,177.955002,177.449997,177.940002,3553305
2023-10-06 15:30:00-04:00,177.934998,177.990005,177.399994,177.490005,7319309

In [59]:
(datetime.strptime(min_date, '%Y-%m-%d') - timedelta(days=7)).strftime('%Y-%m-%d')

'2023-10-10'

# Read hrly

In [2]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Github\sp500_data\Scripts\hrly\hrly_sp500_market_data.db")
# pd.read_sql_query("SELECT * from stock_data", con)
pd.read_sql_query("SELECT * FROM stock_data", con)  #Entire db

,Datetime,symbol,open,high,low,close,adj_close,volume
0,2021-10-25T09:30:00-04:00,SPY,454.279999,454.299988,452.390015,453.920013,453.920013,9863390
1,2021-10-25T10:30:00-04:00,SPY,453.920013,454.690002,453.704987,454.619995,454.619995,5138178
2,2021-10-25T11:30:00-04:00,SPY,454.640015,455.450012,454.359985,455.339996,455.339996,4471558
3,2021-10-25T12:30:00-04:00,SPY,455.339996,455.899994,455.170105,455.630005,455.630005,2913638
4,2021-10-25T13:30:00-04:00,SPY,455.619995,455.779999,455.200012,455.769989,455.769989,3528054
...,...,...,...,...,...,...,...,...
1741989,2023-10-20T11:30:00-04:00,ZTS,165.604996,167.464005,165.429993,167.304993,167.304993,118459
1741990,2023-10-20T12:30:00-04:00,ZTS,167.350006,168.259995,167.190002,168.210007,168.210007,128268
1741991,2023-10-20T13:30:00-04:00,ZTS,168.149994,168.149994,167.479996,167.625000,167.625000,121008
1741992,2023-10-20T14:30:00-04:00,ZTS,167.559998,168.039993,167.229996,167.710007,167.710007,187251
1741993,2023-10-20T15:30:00-04:00,ZTS,167.697998,167.759995,167.039993,167.089996,167.089996,365490

# Read from sp500_market_data.db

In [3]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\Scripts\sp500_market_data.db")
pd.read_sql_query("SELECT * from stock_data", con)
# pd.read_sql_query("SELECT * FROM stock_data WHERE Date='2023-10-20T00:00:00'", con)  #Entire db

,Date,symbol,open,high,low,close,adj_close,volume
0,2021-01-04T00:00:00,SPY,375.309998,375.450012,364.820007,368.790009,354.197449,110210800
1,2021-01-05T00:00:00,SPY,368.100006,372.500000,368.049988,371.329987,356.636871,66426200
2,2021-01-06T00:00:00,SPY,369.709991,376.980011,369.119995,373.549988,358.769012,107997700
3,2021-01-07T00:00:00,SPY,376.100006,379.899994,375.910004,379.100006,364.099518,68766800
4,2021-01-08T00:00:00,SPY,380.589996,381.489990,377.100006,381.260010,366.173981,71677200
...,...,...,...,...,...,...,...,...
357630,2023-10-30T00:00:00,NTRS,64.169998,65.580002,64.129997,65.120003,65.120003,1486100
357631,2023-10-27T00:00:00,PCAR,84.110001,84.510002,82.910004,83.290001,83.290001,2026600
357632,2023-10-30T00:00:00,PCAR,83.760002,84.379997,82.800003,83.620003,83.620003,2217300
357633,2023-10-27T00:00:00,VRTX,360.609985,362.309998,353.760010,355.279999,355.279999,910700
357634,2023-10-30T00:00:00,VRTX,357.149994,358.970001,355.579987,357.450012,357.450012,872400

In [8]:
pd.read_sql_query(
"""
SELECT * FROM stock_data
WHERE Date LIKE '2023-10-30%'  """, con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-30T00:00:00,QQQ,347.829987,350.540009,346.450012,349.200012,349.200012,55219500
1,2023-10-30T00:00:00,ABBV,140.669998,145.710007,140.669998,141.889999,141.889999,9258500
2,2023-10-30T00:00:00,ABT,93.529999,93.849998,91.639999,93.000000,93.000000,7168900
3,2023-10-30T00:00:00,ADSK,196.080002,198.669998,194.619995,197.789993,197.789993,1084400
4,2023-10-30T00:00:00,ABNB,117.150002,118.589996,115.349998,116.949997,116.949997,5216400
...,...,...,...,...,...,...,...,...
500,2023-10-30T00:00:00,MCO,304.779999,307.750000,298.859985,306.320007,306.320007,779000
501,2023-10-30T00:00:00,MNST,50.410000,50.840000,50.349998,50.680000,50.680000,5665500
502,2023-10-30T00:00:00,NTRS,64.169998,65.580002,64.129997,65.120003,65.120003,1486100
503,2023-10-30T00:00:00,PCAR,83.760002,84.379997,82.800003,83.620003,83.620003,2217300
504,2023-10-30T00:00:00,VRTX,357.149994,358.970001,355.579987,357.450012,357.450012,872400

In [4]:
#nunique
df = pd.read_sql_query("SELECT * from stock_data", con)
df['Date'].nunique()

711

# Check for duplicates

In [5]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Date, symbol, open, high, low, close, adj_close, volume]
Index: []

# Filter by conditions

In [11]:
import sqlite3
import pandas as pd

# connect to the database
con = sqlite3.connect(r"C:\Users\Jonat\Documents\MEGAsync\MEGAsync\Github\sp500_data\sp500_market_data.db")

# simple select statement
df_1 = pd.read_sql_query("SELECT * from stock_data where symbol='SPY'", con)

# where statement
df_2 = pd.read_sql_query("SELECT * from stock_data where symbol='SPY' and volume > 90000000", con)

df_2

,Date,symbol,open,high,low,close,adj_close,volume
0,2021-01-04T00:00:00,SPY,375.309998,375.450012,364.820007,368.790009,354.197449,110210800
1,2021-01-06T00:00:00,SPY,369.709991,376.980011,369.119995,373.549988,358.769012,107997700
2,2021-01-15T00:00:00,SPY,376.720001,377.579987,373.700012,375.700012,360.833984,107160000
3,2021-01-27T00:00:00,SPY,380.220001,380.320007,372.010010,374.410004,359.595001,123351100
4,2021-01-28T00:00:00,SPY,376.359985,381.929993,375.890015,377.630005,362.687561,94198100
...,...,...,...,...,...,...,...,...
233,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
234,2023-10-06T00:00:00,SPY,421.970001,431.130005,420.600006,429.540009,429.540009,113202700
235,2023-10-13T00:00:00,SPY,435.209991,436.450012,429.880005,431.500000,431.500000,95143100
236,2023-10-18T00:00:00,SPY,434.190002,435.179993,429.089996,430.209991,430.209991,93559800
237,2023-10-19T00:00:00,SPY,430.950012,432.820007,425.730011,426.429993,426.429993,121179800

# Other SQL stuff

In [4]:
pd.read_sql_query("SELECT MIN(date) from stock_data", con)

             MIN(date)
0  2023-10-02T00:00:00

In [3]:
pd.read_sql_query("SELECT MAX(date) from stock_data", con)

             MAX(date)
0  2023-10-04T00:00:00

In [4]:
pd.read_sql_query("SELECT * FROM stock_data WHERE symbol = 'SPY' AND SUBSTR(date, 1, 10) BETWEEN '2023-01-01T00:00:00' AND '2023-10-04T00:00:00'", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-02T00:00:00,SPY,426.619995,428.600006,424.459991,427.309998,427.309998,83798600
1,2023-10-03T00:00:00,SPY,425.059998,427.369995,420.179993,421.589996,421.589996,103760600
2,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000

In [7]:
pd.read_sql_query("SELECT * FROM stock_data WHERE Date LIKE '%2023-10-04%'", con)

,Date,symbol,open,high,low,close,adj_close,volume
0,2023-10-04T00:00:00,SPY,422.070007,425.429993,420.559998,424.660004,424.660004,87453000